n8n-workflows/communications/a-communications.json
{
  "name": "Workflow A \u2014 Communications",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "GET",
        "path": "whatsapp",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "a0000001-0001-0001-0001-000000000001",
      "name": "WhatsApp Webhook (GET)",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        200,
        100
      ],
      "webhookId": "a0-whatsapp-get"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "cond-mode",
              "leftValue": "={{ $json.query['hub.mode'] }}",
              "rightValue": "subscribe",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "cond-token",
              "leftValue": "={{ $json.query['hub.verify_token'] }}",
              "rightValue": "={{ $env.WHATSAPP_VERIFY_TOKEN }}",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ]
        },
        "options": {}
      },
      "id": "a0000002-0002-0002-0002-000000000002",
      "name": "Verify Token Matches",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        440,
        100
      ]
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $('WhatsApp Webhook (GET)').first()?.json?.query['hub.challenge'] }}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "a0000003-0003-0003-0003-000000000003",
      "name": "Respond 200 Challenge",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        680,
        0
      ]
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "Forbidden",
        "options": {
          "responseCode": 403
        }
      },
      "id": "a0000004-0004-0004-0004-000000000004",
      "name": "Respond 403 Verify Failed",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        680,
        200
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "whatsapp",
        "responseMode": "responseNode",
        "options": {
          "rawBody": true
        }
      },
      "id": "a0000005-0005-0005-0005-000000000005",
      "name": "WhatsApp Webhook (POST)",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        200,
        480
      ],
      "webhookId": "a0-whatsapp-post"
    },
    {
      "parameters": {
        "language": "javaScript",
        "jsCode": "const crypto = require('crypto');\nconst item = $input.item;\nconst headers = (item.json && item.json.headers) || {};\nconst sigHeader = headers['x-hub-signature-256'] || headers['X-Hub-Signature-256'] || '';\nconst secret = $env.WHATSAPP_APP_SECRET || '';\nlet rawBody = null;\nif (item.binary && item.binary.data && item.binary.data.data) {\n  rawBody = Buffer.from(item.binary.data.data, 'base64');\n} else if (typeof item.json.body === 'string') {\n  rawBody = Buffer.from(item.json.body, 'utf8');\n}\nif (rawBody === null) {\n  return [{ json: { valid: false, reason: 'raw_body_unavailable', received_signature_prefix: sigHeader.slice(0, 24), raw_body_length: 0, body_parsed: null } }];\n}\nconst computed = crypto.createHmac('sha256', secret).update(rawBody).digest('hex');\nlet valid = false;\nconst prefix = 'sha256=';\nif (sigHeader.startsWith(prefix) && secret.length > 0) {\n  const received = sigHeader.slice(prefix.length);\n  if (received.length === computed.length) {\n    try { valid = crypto.timingSafeEqual(Buffer.from(received, 'hex'), Buffer.from(computed, 'hex')); } catch (e) { valid = false; }\n  }\n}\nlet bodyParsed = null;\ntry { bodyParsed = JSON.parse(rawBody.toString('utf8')); } catch (e) { bodyParsed = item.json.body || null; }\nreturn [{ json: { valid, body_parsed: bodyParsed, received_signature_prefix: sigHeader.slice(0, 24), raw_body_length: rawBody.length } }];\n"
      },
      "id": "a0000006-0006-0006-0006-000000000006",
      "name": "Validate HMAC",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        440,
        480
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "cond-valid",
              "leftValue": "={{ $json.valid }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ]
        },
        "options": {}
      },
      "id": "a0000007-0007-0007-0007-000000000007",
      "name": "HMAC Valid",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        680,
        480
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO event_log (workflow_name, execution_id, level, event, message, data) VALUES ('workflow_a_communications', $1, 'info', 'webhook_received', $2, $3::jsonb);",
        "options": {
          "queryReplacement": "={{ [$execution.id, 'entry_count=' + (($json.body_parsed?.entry?.length) || 0), '{\"entry_count\":' + (($json.body_parsed?.entry?.length) || 0) + ',\"raw_body_length\":' + ($json.raw_body_length || 0) + '}'] }}"
        }
      },
      "id": "a0000008-0008-0008-0008-000000000008",
      "name": "Log Inbound Event",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        920,
        380
      ],
      "credentials": {
        "postgres": {
          "id": "9qvzHACQwY5XcPoG",
          "name": "Bookings DB (n8n_bookings)"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "EVENT_RECEIVED",
        "options": {
          "responseCode": 200
        }
      },
      "id": "a0000009-0009-0009-0009-000000000009",
      "name": "Respond 200 Event Received",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1160,
        280
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO workflow_errors (workflow_name, execution_id, node_name, error_message, context) VALUES ('workflow_a_communications', $1, 'Validate HMAC', $2, $3::jsonb);",
        "options": {
          "queryReplacement": "={{ [$execution.id, $json.reason ? $json.reason : 'X-Hub-Signature-256 mismatch', '{\"raw_body_length\":' + ($json.raw_body_length || 0) + '}'] }}"
        }
      },
      "id": "a0000010-0010-0010-0010-000000000010",
      "name": "Log POST Validation Failure",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        920,
        580
      ],
      "credentials": {
        "postgres": {
          "id": "9qvzHACQwY5XcPoG",
          "name": "Bookings DB (n8n_bookings)"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "Forbidden",
        "options": {
          "responseCode": 403
        }
      },
      "id": "a0000011-0011-0011-0011-000000000011",
      "name": "Respond 403 HMAC Failed",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1160,
        580
      ]
    },
    {
      "parameters": {},
      "id": "a0000012-0012-0012-0012-000000000012",
      "name": "Error Trigger",
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1,
      "position": [
        200,
        900
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT candidate_id, message AS lock_value FROM event_log WHERE execution_id = $1 AND event = 'lock_acquired' ORDER BY ts DESC LIMIT 1",
        "options": {
          "queryReplacement": "={{ [$json.execution?.id ?? ''] }}"
        }
      },
      "id": "ac_e001-e001-e001-e001-000000000001",
      "name": "Query Lock Value from Event Log",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        440,
        900
      ],
      "credentials": {
        "postgres": {
          "id": "9qvzHACQwY5XcPoG",
          "name": "Bookings DB (n8n_bookings)"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "key": "={{ 'hra:conv:' + ($('Query Lock Value from Event Log').first()?.json?.candidate_id ?? '') }}",
        "propertyName": "value"
      },
      "id": "ac_e002-e002-e002-e002-000000000002",
      "name": "Get Lock on Error",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        680,
        900
      ],
      "credentials": {
        "redis": {
          "id": "z1cSQv7BNcP3j2XY",
          "name": "Redis"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO workflow_errors (workflow_name, execution_id, node_name, error_message, error_stack, context) VALUES ('workflow_a_communications', $1, $2, $3, $4, $5::jsonb);",
        "options": {
          "queryReplacement": "={{ [$json.execution?.id ?? '', $json.execution?.lastNodeExecuted ?? '', $json.execution?.error?.message ?? '', $json.execution?.error?.stack?.split('\\n')[0] ?? '', '{\"node\":\"' + ($json.execution?.lastNodeExecuted ?? '') + '\"}'] }}"
        }
      },
      "id": "a0000013-0013-0013-0013-000000000013",
      "name": "Write Workflow Error",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        920,
        900
      ],
      "credentials": {
        "postgres": {
          "id": "9qvzHACQwY5XcPoG",
          "name": "Bookings DB (n8n_bookings)"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "cond-retry",
              "leftValue": "={{ ($json.attempt_count || 1) }}",
              "rightValue": 3,
              "operator": {
                "type": "number",
                "operation": "lt"
              }
            }
          ]
        },
        "options": {}
      },
      "id": "ac_e003-e003-e003-e003-000000000003",
      "name": "Check Retry Attempt",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1160,
        900
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO event_log (workflow_name, execution_id, level, event, message) VALUES ('workflow_a_communications', $1, 'warn', 'retry_scheduled', $2)",
        "options": {
          "queryReplacement": "={{ [$json.execution?.id ?? '', 'retry scheduled'] }}"
        }
      },
      "id": "ac_e004-e004-e004-e004-000000000004",
      "name": "Log Retry Hint",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1400,
        800
      ],
      "credentials": {
        "postgres": {
          "id": "9qvzHACQwY5XcPoG",
          "name": "Bookings DB (n8n_bookings)"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.TWENTY_API_URL }}/graphql",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ 'Bearer ' + $env.TWENTY_API_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "options": {
          "timeout": 15000,
          "retry": {
            "enabled": true,
            "maxTries": 2,
            "waitBetweenTries": 1000
          }
        },
        "jsonBody": "={{ { query: 'mutation CreateReviewTask($data: ReviewTaskCreateInput!) { createReviewTask(data: $data) { id } }', variables: { data: { kind: 'WORKFLOW_ERROR', subjectCandidate: { connect: { where: { id: $('Query Lock Value from Event Log').first()?.json?.candidate_id || '' } } }, dueBy: new Date(Date.now() + 3 * 24 * 60 * 60 * 1000).toISOString() } } } }}"
      },
      "id": "ac_e005-e005-e005-e005-000000000005",
      "name": "Create Workflow Error Review Task",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1400,
        1000
      ]
    },
    {
      "parameters": {
        "language": "javaScript",
        "jsCode": "const body = $('Validate HMAC').item.json.body_parsed;\nif (!body || !body.entry || !body.entry[0]) return [{ json: { valid: false, reason: 'no_entry' } }];\nconst change = body.entry[0].changes && body.entry[0].changes[0];\nif (!change || !change.value) return [{ json: { valid: false, reason: 'no_change' } }];\nconst msg = change.value.messages && change.value.messages[0];\nif (!msg) return [{ json: { valid: false, reason: 'no_message' } }];\nconst from = msg.from || '';\nconst cleaned = from.replace(/\\s+/g, '').replace(/-/g, '');\nconst phoneE164 = cleaned.startsWith('+') ? cleaned : '+' + cleaned;\nif (!phoneE164.startsWith('+233') || phoneE164.length !== 13) {\n  return [{ json: { valid: false, reason: 'invalid_ghana_phone', raw_from: from } }];\n}\nreturn [{ json: {\n  valid: true,\n  phoneE164,\n  waMessageId: msg.id,\n  messageType: msg.type,\n  messageBody: msg.type === 'text' ? (msg.text && msg.text.body) : '',\n  mediaUrl: msg.type === 'audio' ? (msg.audio && msg.audio.id) : null,\n  rawMessage: msg\n} }];\n"
      },
      "id": "ac00001-0001-ac01-0001-000000000001",
      "name": "Normalise Phone Number",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1160,
        480
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "cond-valid-phone",
              "leftValue": "={{ $json.valid }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ]
        },
        "options": {}
      },
      "id": "ac00002-0002-ac02-0002-000000000002",
      "name": "Phone Valid",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1400,
        480
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO event_log (workflow_name, execution_id, level, event, message) VALUES ('workflow_a_communications', $1, 'warn', 'invalid_phone', $2)",
        "options": {
          "queryReplacement": "={{ [$execution.id, $json.reason + ': ' + ($json.raw_from || '')] }}"
        }
      },
      "id": "ac00003-0003-ac03-0003-000000000003",
      "name": "Log Invalid Phone",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1640,
        600
      ],
      "credentials": {
        "postgres": {
          "id": "9qvzHACQwY5XcPoG",
          "name": "Bookings DB (n8n_bookings)"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "key": "={{ 'hra:dedupe:' + $('Normalise Phone Number').first()?.json?.waMessageId }}",
        "propertyName": "value"
      },
      "id": "ac00004-0004-ac04-0004-000000000004",
      "name": "Get Dedupe Key",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        1640,
        480
      ],
      "credentials": {
        "redis": {
          "id": "z1cSQv7BNcP3j2XY",
          "name": "Redis"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "cond-new-message",
              "leftValue": "={{ $json.value ?? '' }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ]
        },
        "options": {}
      },
      "id": "ac00005-0005-ac05-0005-000000000005",
      "name": "Is New Message",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1880,
        480
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO event_log (workflow_name, execution_id, level, event, message) VALUES ('workflow_a_communications', $1, 'info', 'dedupe_hit', $2)",
        "options": {
          "queryReplacement": "={{ [$execution.id, $('Normalise Phone Number').first()?.json?.waMessageId] }}"
        }
      },
      "id": "ac00006-0006-ac06-0006-000000000006",
      "name": "Log Dedupe Hit",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        2120,
        600
      ],
      "credentials": {
        "postgres": {
          "id": "9qvzHACQwY5XcPoG",
          "name": "Bookings DB (n8n_bookings)"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.TWENTY_API_URL }}/graphql",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ 'Bearer ' + $env.TWENTY_API_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "options": {
          "timeout": 15000,
          "retry": {
            "enabled": true,
            "maxTries": 2,
            "waitBetweenTries": 1000
          }
        },
        "jsonBody": "={{ { query: 'query FindCandidateByPhone($phone: String!) { candidates(filter: { whatsappNumberE164: { eq: $phone } }) { edges { node { id name consentStatus } } } }', variables: { phone: $('Normalise Phone Number').first()?.json?.phoneE164 } } }}"
      },
      "id": "ac00007-0007-ac07-0007-000000000007",
      "name": "Resolve Candidate by Phone",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2120,
        480
      ]
    },
    {
      "parameters": {
        "mode": "rules",
        "rules": {
          "values": [
            {
              "outputKey": "zero",
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "id": "cond-zero",
                    "leftValue": "={{ $json.data && $json.data.candidates && $json.data.candidates.edges ? $json.data.candidates.edges?.length ?? 0 : 0 }}",
                    "rightValue": 0,
                    "operator": {
                      "type": "number",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "renameOutput": true
            },
            {
              "outputKey": "one",
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "id": "cond-one",
                    "leftValue": "={{ $json.data && $json.data.candidates && $json.data.candidates.edges ? $json.data.candidates.edges?.length ?? 0 : 0 }}",
                    "rightValue": 1,
                    "operator": {
                      "type": "number",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "renameOutput": true
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "id": "ac00008-0008-ac08-0008-000000000008",
      "name": "Count Candidate Results",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        2360,
        480
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.TWENTY_API_URL }}/graphql",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ 'Bearer ' + $env.TWENTY_API_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "options": {
          "timeout": 15000,
          "retry": {
            "enabled": true,
            "maxTries": 2,
            "waitBetweenTries": 1000
          }
        },
        "jsonBody": "={{ { query: 'mutation CreateCandidate($data: CandidateCreateInput!) { createCandidate(data: $data) { id name consentStatus } }', variables: { data: { whatsappNumberE164: $('Normalise Phone Number').first()?.json?.phoneE164, consentStatus: 'PENDING' } } } }}"
      },
      "id": "ac00009-0009-ac09-0009-000000000009",
      "name": "Create Candidate in Twenty",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2600,
        380
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.TWENTY_API_URL }}/graphql",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ 'Bearer ' + $env.TWENTY_API_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "options": {
          "timeout": 15000,
          "retry": {
            "enabled": true,
            "maxTries": 2,
            "waitBetweenTries": 1000
          }
        },
        "jsonBody": "={{ { query: 'mutation FlagDup($data: ReviewTaskCreateInput!) { createReviewTask(data: $data) { id } }', variables: { data: { kind: 'COMPLIANCE_FLAG', subjectCandidate: { connect: { where: { id: $json.data?.candidates?.edges?.[0]?.node?.id ?? '' } } } } } } }}"
      },
      "id": "ac00010-0010-ac10-0010-000000000010",
      "name": "Flag Duplicate Candidate",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2600,
        580
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO workflow_errors (workflow_name, execution_id, error_message, context) VALUES ('workflow_a_communications', $1, 'multiple_candidates_same_phone', $2::jsonb)",
        "options": {
          "queryReplacement": "={{ [$execution.id, '{\"count\":' + ($('Resolve Candidate by Phone').first()?.json?.data?.candidates?.edges?.length ?? 0) + '}'] }}"
        }
      },
      "id": "ac00011-0011-ac11-0011-000000000011",
      "name": "Log Stop \u2014 Duplicate Candidate",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        2840,
        580
      ],
      "credentials": {
        "postgres": {
          "id": "9qvzHACQwY5XcPoG",
          "name": "Bookings DB (n8n_bookings)"
        }
      }
    },
    {
      "parameters": {
        "mode": "manual",
        "duplicateItem": false,
        "assignments": {
          "assignments": [
            {
              "id": "ctx-cid",
              "name": "candidateId",
              "value": "={{ $json.data && $json.data.createCandidate ? $json.data.createCandidate.id : $('Resolve Candidate by Phone').first()?.json?.data?.candidates?.edges?.[0]?.node?.id }}",
              "type": "string"
            },
            {
              "id": "ctx-fn",
              "name": "firstName",
              "value": "={{ $json.data && $json.data.createCandidate ? ($json.data.createCandidate.name || '') : ($('Resolve Candidate by Phone').first()?.json?.data?.candidates?.edges?.[0]?.node?.name || '') }}",
              "type": "string"
            },
            {
              "id": "ctx-cs",
              "name": "consentStatus",
              "value": "={{ $json.data && $json.data.createCandidate ? $json.data.createCandidate.consentStatus : $('Resolve Candidate by Phone').first()?.json?.data?.candidates?.edges?.[0]?.node?.consentStatus }}",
              "type": "string"
            },
            {
              "id": "ctx-phone",
              "name": "phoneE164",
              "value": "={{ $('Normalise Phone Number').first()?.json?.phoneE164 }}",
              "type": "string"
            },
            {
              "id": "ctx-waid",
              "name": "waMessageId",
              "value": "={{ $('Normalise Phone Number').first()?.json?.waMessageId }}",
              "type": "string"
            },
            {
              "id": "ctx-type",
              "name": "messageType",
              "value": "={{ $('Normalise Phone Number').first()?.json?.messageType }}",
              "type": "string"
            },
            {
              "id": "ctx-body",
              "name": "messageBody",
              "value": "={{ $('Normalise Phone Number').first()?.json?.messageBody }}",
              "type": "string"
            },
            {
              "id": "ctx-media",
              "name": "mediaUrl",
              "value": "={{ $('Normalise Phone Number').first()?.json?.mediaUrl }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "ac00012-0012-ac12-0012-000000000012",
      "name": "Set Candidate Context",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2840,
        480
      ]
    },
    {
      "parameters": {
        "operation": "get",
        "key": "={{ 'hra:conv:' + $json.candidateId }}",
        "propertyName": "value"
      },
      "id": "ac00013-0013-ac13-0013-000000000013",
      "name": "Get Conv Lock",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        3080,
        480
      ],
      "credentials": {
        "redis": {
          "id": "z1cSQv7BNcP3j2XY",
          "name": "Redis"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "combinator": "or",
          "conditions": [
            {
              "id": "cond-free",
              "leftValue": "={{ $json.value ?? '' }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "cond-self",
              "leftValue": "={{ $json.value ?? '' }}",
              "rightValue": "={{ $execution.id }}",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ]
        },
        "options": {}
      },
      "id": "ac00014-0014-ac14-0014-000000000014",
      "name": "Lock Acquired",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        3320,
        480
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO event_log (workflow_name, execution_id, level, event, candidate_id, message) VALUES ('workflow_a_communications', $1, 'warn', 'lock_contention', $2, 'lock held by another execution')",
        "options": {
          "queryReplacement": "={{ [$execution.id, ($('Resolve Candidate by Phone').first()?.json?.data?.candidates?.edges?.[0]?.node?.id || $('Create Candidate in Twenty').first()?.json?.data?.createCandidate?.id || '') ?? '00000000-0000-0000-0000-000000000000'] }}"
        }
      },
      "id": "ac00015-0015-ac15-0015-000000000015",
      "name": "Log Lock Contention",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        3560,
        600
      ],
      "credentials": {
        "postgres": {
          "id": "9qvzHACQwY5XcPoG",
          "name": "Bookings DB (n8n_bookings)"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO event_log (workflow_name, execution_id, level, event, candidate_id, message) VALUES ('workflow_a_communications', $1, 'info', 'lock_acquired', $2, $3)",
        "options": {
          "queryReplacement": "={{ [$execution.id, ($('Resolve Candidate by Phone').first()?.json?.data?.candidates?.edges?.[0]?.node?.id || $('Create Candidate in Twenty').first()?.json?.data?.createCandidate?.id || '00000000-0000-0000-0000-000000000000'), $execution.id] }}"
        }
      },
      "id": "ac00016-0016-ac16-0016-000000000016",
      "name": "Write Lock Acquired Event",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        3560,
        480
      ],
      "credentials": {
        "postgres": {
          "id": "9qvzHACQwY5XcPoG",
          "name": "Bookings DB (n8n_bookings)"
        }
      }
    },
    {
      "parameters": {
        "language": "javaScript",
        "jsCode": "const body = ($('Set Candidate Context').first()?.json?.messageBody || '').trim().toUpperCase();\nlet intent = 'OTHER';\nif (['YES', 'YES PLEASE', 'I AGREE', 'AGREE', 'OK', 'OKAY', 'SURE', 'ACCEPT'].some(k => body === k || body.startsWith(k + ' '))) intent = 'YES';\nelse if (['NO', 'STOP', 'REFUSE', 'NOPE', 'DONT', \"DON'T\", 'NOT INTERESTED'].some(k => body === k || body.startsWith(k + ' '))) intent = 'NO';\nelse if (['DATA', 'DELETE', 'FORGET', 'ACCESS', 'REMOVE MY DATA', 'DELETE MY DATA'].some(k => body === k || body.startsWith(k))) intent = 'DPA';\nreturn [{ json: { ...$input.item.json, consentIntent: intent } }];\n"
      },
      "id": "ac00018-0018-ac18-0018-000000000018",
      "name": "Parse Pending Consent Reply",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4040,
        380
      ]
    },
    {
      "parameters": {
        "mode": "rules",
        "rules": {
          "values": [
            {
              "outputKey": "yes",
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "id": "c-yes",
                    "leftValue": "={{ $json.consentIntent }}",
                    "rightValue": "YES",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "renameOutput": true
            },
            {
              "outputKey": "no",
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "id": "c-no",
                    "leftValue": "={{ $json.consentIntent }}",
                    "rightValue": "NO",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "renameOutput": true
            },
            {
              "outputKey": "dpa",
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "id": "c-dpa",
                    "leftValue": "={{ $json.consentIntent }}",
                    "rightValue": "DPA",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "renameOutput": true
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "id": "ac00019-0019-ac19-0019-000000000019",
      "name": "Route Consent Reply",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        4280,
        380
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.TWENTY_API_URL }}/graphql",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ 'Bearer ' + $env.TWENTY_API_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "options": {
          "timeout": 15000,
          "retry": {
            "enabled": true,
            "maxTries": 2,
            "waitBetweenTries": 1000
          }
        },
        "jsonBody": "={{ { query: 'mutation GrantConsent($id: UUID!) { updateCandidate(id: $id, data: { consentStatus: GRANTED }) { id consentStatus } }', variables: { id: ($('Resolve Candidate by Phone').first()?.json?.data?.candidates?.edges?.[0]?.node?.id || $('Create Candidate in Twenty').first()?.json?.data?.createCandidate?.id || '') } } }}"
      },
      "id": "ac00020-0020-ac20-0020-000000000020",
      "name": "Grant Consent in Twenty",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4520,
        280
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.TWENTY_API_URL }}/graphql",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ 'Bearer ' + $env.TWENTY_API_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "options": {
          "timeout": 15000,
          "retry": {
            "enabled": true,
            "maxTries": 2,
            "waitBetweenTries": 1000
          }
        },
        "jsonBody": "={{ { query: 'mutation RefuseConsent($id: UUID!) { updateCandidate(id: $id, data: { consentStatus: REFUSED, dataRetentionPolicy: PENDING_DELETION }) { id } }', variables: { id: ($('Resolve Candidate by Phone').first()?.json?.data?.candidates?.edges?.[0]?.node?.id || $('Create Candidate in Twenty').first()?.json?.data?.createCandidate?.id || '') } } }}"
      },
      "id": "ac00021-0021-ac21-0021-000000000021",
      "name": "Refuse Consent in Twenty",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4520,
        480
      ]
    },
    {
      "parameters": {
        "source": "database",
        "workflowId": {
          "__rl": true,
          "value": "7XU0LaNGK2WLUhPE",
          "mode": "id"
        },
        "options": {},
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "to": "={{ $('Normalise Phone Number').first()?.json?.phoneE164 }}",
            "body": "={{ 'No problem at all, ' + ($('Set Candidate Context').first()?.json?.firstName || 'there') + \". We won't contact you again via WhatsApp. If you change your mind later, just send us a message and we'll start fresh.\" }}",
            "conversationId": ""
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "to",
              "displayName": "to",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "body",
              "displayName": "body",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "conversationId",
              "displayName": "conversationId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "id": "ac00022-0022-ac22-0022-000000000022",
      "name": "Send Consent Refusal Ack",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        4760,
        480
      ]
    },
    {
      "parameters": {
        "operation": "get",
        "key": "={{ 'hra:conv:' + ($('Resolve Candidate by Phone').first()?.json?.data?.candidates?.edges?.[0]?.node?.id || $('Create Candidate in Twenty').first()?.json?.data?.createCandidate?.id || '') }}",
        "propertyName": "value"
      },
      "id": "ac00023-0023-ac23-0023-000000000023",
      "name": "Get Lock \u2014 Consent Refused",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        5000,
        480
      ],
      "credentials": {
        "redis": {
          "id": "z1cSQv7BNcP3j2XY",
          "name": "Redis"
        }
      }
    },
    {
      "id": "ac00024-0024-ac24-0024-000000000024",
      "name": "Send Consent Request Template",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4520,
        680
      ],
      "parameters": {
        "method": "POST",
        "url": "={{ 'https://graph.facebook.com/v20.0/' + $env.WHATSAPP_PHONE_NUMBER_ID + '/messages' }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ 'Bearer ' + $env.WHATSAPP_ACCESS_TOKEN }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { messaging_product: 'whatsapp', to: $('Normalise Phone Number').first()?.json?.phoneE164 ?? '', type: 'text', text: { body: 'Hi ' + ($('Set Candidate Context').first()?.json?.firstName || 'there') + '! Before we continue, we need your consent to store and process your data as part of our recruitment process, in line with Ghana Data Protection Act. Do you agree? Reply YES to continue or NO to opt out.' } } }}",
        "options": {
          "timeout": 20000,
          "retry": {
            "enabled": true,
            "maxTries": 2,
            "waitBetweenTries": 1000
          }
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "key": "={{ 'hra:conv:' + ($('Resolve Candidate by Phone').first()?.json?.data?.candidates?.edges?.[0]?.node?.id || $('Create Candidate in Twenty').first()?.json?.data?.createCandidate?.id || '') }}",
        "propertyName": "value"
      },
      "id": "ac00025-0025-ac25-0025-000000000025",
      "name": "Get Lock \u2014 Consent Pending",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        4760,
        680
      ],
      "credentials": {
        "redis": {
          "id": "z1cSQv7BNcP3j2XY",
          "name": "Redis"
        }
      }
    },
    {
      "parameters": {
        "source": "database",
        "workflowId": {
          "__rl": true,
          "value": "idPrJIC9q7ioN89i",
          "mode": "id"
        },
        "options": {},
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "candidateId": "={{ ($('Resolve Candidate by Phone').first()?.json?.data?.candidates?.edges?.[0]?.node?.id || $('Create Candidate in Twenty').first()?.json?.data?.createCandidate?.id || '') ?? '00000000-0000-0000-0000-000000000000' }}",
            "phoneE164": "={{ $('Normalise Phone Number').first()?.json?.phoneE164 }}",
            "firstName": "={{ $('Set Candidate Context').first()?.json?.firstName }}",
            "intent": "={{ $json.consentIntent }}",
            "lockValue": "={{ $execution.id }}",
            "conversationId": ""
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "candidateId",
              "displayName": "candidateId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "phoneE164",
              "displayName": "phoneE164",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "firstName",
              "displayName": "firstName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "intent",
              "displayName": "intent",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "lockValue",
              "displayName": "lockValue",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "conversationId",
              "displayName": "conversationId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "id": "ac00026-0026-ac26-0026-000000000026",
      "name": "Handle DPA Before Consent",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        4520,
        880
      ]
    },
    {
      "parameters": {
        "source": "database",
        "workflowId": {
          "__rl": true,
          "value": "7XU0LaNGK2WLUhPE",
          "mode": "id"
        },
        "options": {},
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "to": "={{ $('Normalise Phone Number').first()?.json?.phoneE164 }}",
            "body": "={{ 'Hi ' + ($('Set Candidate Context').first()?.json?.firstName || 'there') + ', you previously asked not to be contacted via WhatsApp. We respect that. If you change your mind, you can send us a message to get started again.' }}",
            "conversationId": ""
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "to",
              "displayName": "to",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "body",
              "displayName": "body",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "conversationId",
              "displayName": "conversationId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "id": "ac00027-0027-ac27-0027-000000000027",
      "name": "Send Already Opted-Out Reply",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        4040,
        580
      ]
    },
    {
      "parameters": {
        "operation": "get",
        "key": "={{ 'hra:conv:' + ($('Resolve Candidate by Phone').first()?.json?.data?.candidates?.edges?.[0]?.node?.id || $('Create Candidate in Twenty').first()?.json?.data?.createCandidate?.id || '') }}",
        "propertyName": "value"
      },
      "id": "ac00028-0028-ac28-0028-000000000028",
      "name": "Get Lock \u2014 Refused or Revoked",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        4280,
        580
      ],
      "credentials": {
        "redis": {
          "id": "z1cSQv7BNcP3j2XY",
          "name": "Redis"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "cond-audio",
              "leftValue": "={{ $('Set Candidate Context').first()?.json?.messageType }}",
              "rightValue": "audio",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ]
        },
        "options": {}
      },
      "id": "ac00029-0029-ac29-0029-000000000029",
      "name": "Route by Message Type",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        4520,
        380
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.groq.com/openai/v1/audio/transcriptions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ 'Bearer ' + $env.GROQ_API_KEY }}"
            }
          ]
        },
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "model",
              "value": "whisper-large-v3-turbo"
            },
            {
              "name": "url",
              "value": "={{ $('Set Candidate Context').first()?.json?.mediaUrl }}"
            },
            {
              "name": "response_format",
              "value": "verbose_json"
            },
            {
              "name": "timestamp_granularities[]",
              "value": "segment"
            }
          ]
        },
        "options": {
          "timeout": 30000,
          "retry": {
            "enabled": true,
            "maxTries": 2,
            "waitBetweenTries": 2000
          }
        }
      },
      "id": "ac00030-0030-ac30-0030-000000000030",
      "name": "Language Detection \u2014 Short Clip",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4760,
        280
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "combinator": "or",
          "conditions": [
            {
              "id": "c-en",
              "leftValue": "={{ $json.language }}",
              "rightValue": "en",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "c-null",
              "leftValue": "={{ $json.language ?? '' }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ]
        },
        "options": {}
      },
      "id": "ac00031-0031-ac31-0031-000000000031",
      "name": "Check Language Code",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        5000,
        280
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.TWENTY_API_URL }}/graphql",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ 'Bearer ' + $env.TWENTY_API_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "options": {
          "timeout": 15000,
          "retry": {
            "enabled": true,
            "maxTries": 2,
            "waitBetweenTries": 1000
          }
        },
        "jsonBody": "={{ { query: 'mutation LocalLang($data: ReviewTaskCreateInput!) { createReviewTask(data: $data) { id } }', variables: { data: { kind: 'OTHER', subjectCandidate: { connect: { where: { id: ($('Resolve Candidate by Phone').first()?.json?.data?.candidates?.edges?.[0]?.node?.id || $('Create Candidate in Twenty').first()?.json?.data?.createCandidate?.id || '') ?? '' } } } } } } }}"
      },
      "id": "ac00032-0032-ac32-0032-000000000032",
      "name": "Route Local Language to Review",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        5240,
        180
      ]
    },
    {
      "parameters": {
        "source": "database",
        "workflowId": {
          "__rl": true,
          "value": "7XU0LaNGK2WLUhPE",
          "mode": "id"
        },
        "options": {},
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "to": "={{ $('Normalise Phone Number').first()?.json?.phoneE164 }}",
            "body": "={{ 'Hi ' + ($('Set Candidate Context').first()?.json?.firstName || 'there') + \", we couldn't quite make that out. Could you type your message instead? That'll help us get back to you faster.\" }}",
            "conversationId": ""
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "to",
              "displayName": "to",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "body",
              "displayName": "body",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "conversationId",
              "displayName": "conversationId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "id": "ac00033-0033-ac33-0033-000000000033",
      "name": "Send Please Retype \u2014 Local Language",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        5480,
        180
      ]
    },
    {
      "parameters": {
        "operation": "get",
        "key": "={{ 'hra:conv:' + ($('Resolve Candidate by Phone').first()?.json?.data?.candidates?.edges?.[0]?.node?.id || $('Create Candidate in Twenty').first()?.json?.data?.createCandidate?.id || '') }}",
        "propertyName": "value"
      },
      "id": "ac00034-0034-ac34-0034-000000000034",
      "name": "Get Lock \u2014 Local Language",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        5720,
        180
      ],
      "credentials": {
        "redis": {
          "id": "z1cSQv7BNcP3j2XY",
          "name": "Redis"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.groq.com/openai/v1/audio/transcriptions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ 'Bearer ' + $env.GROQ_API_KEY }}"
            }
          ]
        },
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "model",
              "value": "whisper-large-v3-turbo"
            },
            {
              "name": "url",
              "value": "={{ $('Set Candidate Context').first()?.json?.mediaUrl }}"
            },
            {
              "name": "response_format",
              "value": "verbose_json"
            },
            {
              "name": "timestamp_granularities[]",
              "value": "segment"
            }
          ]
        },
        "options": {
          "timeout": 60000,
          "retry": {
            "enabled": true,
            "maxTries": 2,
            "waitBetweenTries": 3000
          }
        }
      },
      "id": "ac00035-0035-ac35-0035-000000000035",
      "name": "Full Transcription \u2014 Groq Whisper",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        5240,
        380
      ]
    },
    {
      "parameters": {
        "language": "javaScript",
        "jsCode": "const segs = $json.segments || [];\nconst avgLogprob = segs.length > 0 ? segs.reduce((s, sg) => s + (sg.avg_logprob || 0), 0) / segs.length : ($json.avg_logprob || -1);\nconst noSpeech = $json.no_speech_prob || 0;\nconst text = $json.text || '';\nconst compressionRatio = $json.compression_ratio || ($json.segments && $json.segments[0] ? $json.segments[0].compression_ratio : 2.0) || 2.0;\nlet quality = 'unavailable';\nif (text && text.trim().length > 0) {\n  if (avgLogprob >= -0.3 && noSpeech <= 0.5 && compressionRatio >= 1.5 && compressionRatio <= 3.5) quality = 'high';\n  else quality = 'low';\n}\nreturn [{ json: { ...$input.item.json, transcript: text, transcriptQuality: quality, avgLogprob, noSpeech, compressionRatio } }];\n"
      },
      "id": "ac00036-0036-ac36-0036-000000000036",
      "name": "Evaluate Transcript Confidence",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        5480,
        380
      ]
    },
    {
      "parameters": {
        "mode": "rules",
        "rules": {
          "values": [
            {
              "outputKey": "high",
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "id": "c-hi",
                    "leftValue": "={{ $json.transcriptQuality }}",
                    "rightValue": "high",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "renameOutput": true
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "id": "ac00037-0037-ac37-0037-000000000037",
      "name": "Route by Transcript Quality",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        5720,
        380
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT voice_note_retry_at FROM candidate_facts WHERE twenty_candidate_id = $1",
        "options": {
          "queryReplacement": "={{ [($('Resolve Candidate by Phone').first()?.json?.data?.candidates?.edges?.[0]?.node?.id || $('Create Candidate in Twenty').first()?.json?.data?.createCandidate?.id || '') ?? '00000000-0000-0000-0000-000000000000'] }}"
        }
      },
      "id": "ac00038-0038-ac38-0038-000000000038",
      "name": "Check Voice Note Retry State",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        5960,
        480
      ],
      "credentials": {
        "postgres": {
          "id": "9qvzHACQwY5XcPoG",
          "name": "Bookings DB (n8n_bookings)"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "cond-retry",
              "leftValue": "={{ $json.voice_note_retry_at }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ]
        },
        "options": {}
      },
      "id": "ac00039-0039-ac39-0039-000000000039",
      "name": "Is Second Strike",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        6200,
        480
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.TWENTY_API_URL }}/graphql",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ 'Bearer ' + $env.TWENTY_API_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "options": {
          "timeout": 15000,
          "retry": {
            "enabled": true,
            "maxTries": 2,
            "waitBetweenTries": 1000
          }
        },
        "jsonBody": "={{ { query: 'mutation AudioManual($data: ReviewTaskCreateInput!) { createReviewTask(data: $data) { id } }', variables: { data: { kind: 'VOICE_NOTE_MANUAL_REVIEW', subjectCandidate: { connect: { where: { id: ($('Resolve Candidate by Phone').first()?.json?.data?.candidates?.edges?.[0]?.node?.id || $('Create Candidate in Twenty').first()?.json?.data?.createCandidate?.id || '') ?? '' } } } } } } }}"
      },
      "id": "ac00040-0040-ac40-0040-000000000040",
      "name": "Create Manual Review Task \u2014 Audio",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        6440,
        380
      ]
    },
    {
      "parameters": {
        "operation": "get",
        "key": "={{ 'hra:conv:' + ($('Resolve Candidate by Phone').first()?.json?.data?.candidates?.edges?.[0]?.node?.id || $('Create Candidate in Twenty').first()?.json?.data?.createCandidate?.id || '') }}",
        "propertyName": "value"
      },
      "id": "ac00041-0041-ac41-0041-000000000041",
      "name": "Get Lock \u2014 Second Strike Audio",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        6680,
        380
      ],
      "credentials": {
        "redis": {
          "id": "z1cSQv7BNcP3j2XY",
          "name": "Redis"
        }
      }
    },
    {
      "parameters": {
        "source": "database",
        "workflowId": {
          "__rl": true,
          "value": "7XU0LaNGK2WLUhPE",
          "mode": "id"
        },
        "options": {},
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "to": "={{ $('Normalise Phone Number').first()?.json?.phoneE164 }}",
            "body": "={{ 'Hi ' + ($('Set Candidate Context').first()?.json?.firstName || 'there') + \", we couldn't quite make that out. Could you type your message instead? That'll help us get back to you faster.\" }}",
            "conversationId": ""
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "to",
              "displayName": "to",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "body",
              "displayName": "body",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "conversationId",
              "displayName": "conversationId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "id": "ac00042-0042-ac42-0042-000000000042",
      "name": "Send Please Retype \u2014 Low Quality",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        6440,
        580
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO candidate_facts (twenty_candidate_id, voice_note_retry_at, updated_at) VALUES ($1, NOW(), NOW()) ON CONFLICT (twenty_candidate_id) DO UPDATE SET voice_note_retry_at = NOW(), updated_at = NOW()",
        "options": {
          "queryReplacement": "={{ [($('Resolve Candidate by Phone').first()?.json?.data?.candidates?.edges?.[0]?.node?.id || $('Create Candidate in Twenty').first()?.json?.data?.createCandidate?.id || '') ?? '00000000-0000-0000-0000-000000000000'] }}"
        }
      },
      "id": "ac00043-0043-ac43-0043-000000000043",
      "name": "Set Voice Note Retry Flag",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        6680,
        580
      ],
      "credentials": {
        "postgres": {
          "id": "9qvzHACQwY5XcPoG",
          "name": "Bookings DB (n8n_bookings)"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "key": "={{ 'hra:conv:' + ($('Resolve Candidate by Phone').first()?.json?.data?.candidates?.edges?.[0]?.node?.id || $('Create Candidate in Twenty').first()?.json?.data?.createCandidate?.id || '') }}",
        "propertyName": "value"
      },
      "id": "ac00044-0044-ac44-0044-000000000044",
      "name": "Get Lock \u2014 Low Quality Audio",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        6920,
        580
      ],
      "credentials": {
        "redis": {
          "id": "z1cSQv7BNcP3j2XY",
          "name": "Redis"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE candidate_facts SET voice_note_retry_at = NULL, updated_at = NOW() WHERE twenty_candidate_id = $1 AND voice_note_retry_at IS NOT NULL",
        "options": {
          "queryReplacement": "={{ [($('Resolve Candidate by Phone').first()?.json?.data?.candidates?.edges?.[0]?.node?.id || $('Create Candidate in Twenty').first()?.json?.data?.createCandidate?.id || '') ?? '00000000-0000-0000-0000-000000000000'] }}"
        }
      },
      "id": "ac00045-0045-ac45-0045-000000000045",
      "name": "Clear Voice Note Retry Flag",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        5960,
        280
      ],
      "credentials": {
        "postgres": {
          "id": "9qvzHACQwY5XcPoG",
          "name": "Bookings DB (n8n_bookings)"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO conversation (twenty_candidate_id) VALUES ($1) ON CONFLICT (twenty_candidate_id) DO UPDATE SET updated_at = NOW() RETURNING id",
        "options": {
          "queryReplacement": "={{ [($('Resolve Candidate by Phone').first()?.json?.data?.candidates?.edges?.[0]?.node?.id || $('Create Candidate in Twenty').first()?.json?.data?.createCandidate?.id || '') ?? '00000000-0000-0000-0000-000000000000'] }}"
        }
      },
      "id": "ac00046-0046-ac46-0046-000000000046",
      "name": "Upsert Conversation Record",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        6200,
        280
      ],
      "credentials": {
        "postgres": {
          "id": "9qvzHACQwY5XcPoG",
          "name": "Bookings DB (n8n_bookings)"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO conversation_message (conversation_id, direction, body, wa_message_id, media_type, transcript, transcript_quality, occurred_at) VALUES ($1, 'inbound', $2, $3, $4, $5, $6, NOW()) ON CONFLICT (wa_message_id) DO NOTHING",
        "options": {
          "queryReplacement": "={{ [$json.id, $('Normalise Phone Number').first()?.json?.messageBody || (() => { try { return $('Evaluate Transcript Confidence').first()?.json?.transcript || ''; } catch(e) { return ''; } })(), $('Normalise Phone Number').first()?.json?.waMessageId, $('Normalise Phone Number').first()?.json?.messageType === 'audio' ? 'audio' : null, (() => { try { return $('Evaluate Transcript Confidence').first()?.json?.transcript ?? null; } catch(e) { return null; } })(), (() => { try { return $('Evaluate Transcript Confidence').first()?.json?.transcriptQuality ?? null; } catch(e) { return null; } })()] }}"
        }
      },
      "id": "ac00047-0047-ac47-0047-000000000047",
      "name": "Store Inbound Message",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        6440,
        280
      ],
      "credentials": {
        "postgres": {
          "id": "9qvzHACQwY5XcPoG",
          "name": "Bookings DB (n8n_bookings)"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT body, direction, occurred_at FROM conversation_message WHERE conversation_id = $1 ORDER BY occurred_at DESC LIMIT 20",
        "options": {
          "queryReplacement": "={{ [$('Upsert Conversation Record').first()?.json?.id ?? '00000000-0000-0000-0000-000000000000'] }}"
        }
      },
      "id": "ac00048-0048-ac48-0048-000000000048",
      "name": "Fetch Last 20 Messages",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        6680,
        280
      ],
      "credentials": {
        "postgres": {
          "id": "9qvzHACQwY5XcPoG",
          "name": "Bookings DB (n8n_bookings)"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT summary FROM conversation WHERE id = $1",
        "options": {
          "queryReplacement": "={{ [$('Upsert Conversation Record').first()?.json?.id ?? '00000000-0000-0000-0000-000000000000'] }}"
        }
      },
      "id": "ac00049-0049-ac49-0049-000000000049",
      "name": "Fetch Conversation Summary",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        6920,
        280
      ],
      "credentials": {
        "postgres": {
          "id": "9qvzHACQwY5XcPoG",
          "name": "Bookings DB (n8n_bookings)"
        }
      }
    },
    {
      "parameters": {
        "source": "database",
        "workflowId": {
          "__rl": true,
          "value": "aaX1BK1N0yFZ8ydt",
          "mode": "id"
        },
        "options": {},
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "model": "claude-haiku-4-5",
            "workflowName": "workflow_a_communications",
            "maxTokens": 200,
            "systemPrompt": "Classify the candidate message intent into exactly one of: workflow_reply, dpa_request, open_conversation, distress, spam. Return JSON only: {\"intent\": \"...\", \"confidence\": 0.0}. workflow_reply = candidate is actively applying for a job OR responding to a screening/interview prompt. Signals: sharing CV/work history, stating job type wanted, listing qualifications/skills, responding to interview questions. dpa_request = asking about their data, deletion, access (words: DATA, DELETE, FORGET, ACCESS). open_conversation = general questions, greetings, or conversation not related to a job application. distress = expressing suicidal ideation, crisis, severe distress. spam = commercial content, nonsense, links only.",
            "messages": "={{ $('Fetch Last 20 Messages').all().slice(-5).map(m => ({role: m.json.direction === 'inbound' ? 'user' : 'assistant', content: m.json.body})).concat([{role: 'user', content: $('Normalise Phone Number').first()?.json?.messageBody}]) }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "model",
              "displayName": "model",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "workflowName",
              "displayName": "workflowName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "maxTokens",
              "displayName": "maxTokens",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "systemPrompt",
              "displayName": "systemPrompt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "messages",
              "displayName": "messages",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "array",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "id": "ac00050-0050-ac50-0050-000000000050",
      "name": "Classify Intent \u2014 Claude Haiku",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        7160,
        280
      ]
    },
    {
      "parameters": {
        "language": "javaScript",
        "jsCode": "let parsed = {};\ntry { parsed = JSON.parse($json.content || '{}'); } catch (e) { parsed = { intent: 'open_conversation', confidence: 0.5 }; }\nconst intent = parsed.intent || 'open_conversation';\nconst confidence = typeof parsed.confidence === 'number' ? parsed.confidence : 0.5;\nconst riskyLowConfidence = confidence < 0.7 && ['workflow_reply', 'dpa_request', 'distress'].includes(intent);\nreturn [{ json: { ...$input.item.json, intent, confidence, riskyLowConfidence } }];\n"
      },
      "id": "ac00051-0051-ac51-0051-000000000051",
      "name": "Parse Intent and Confidence",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        7400,
        280
      ]
    },
    {
      "parameters": {
        "mode": "rules",
        "rules": {
          "values": [
            {
              "outputKey": "low_confidence",
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "id": "c-lc",
                    "leftValue": "={{ $json.riskyLowConfidence }}",
                    "rightValue": true,
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    }
                  }
                ]
              },
              "renameOutput": true
            },
            {
              "outputKey": "distress",
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "id": "c-d",
                    "leftValue": "={{ $json.intent }}",
                    "rightValue": "distress",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "renameOutput": true
            },
            {
              "outputKey": "dpa",
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "id": "c-dpa",
                    "leftValue": "={{ $json.intent }}",
                    "rightValue": "dpa_request",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "renameOutput": true
            },
            {
              "outputKey": "workflow_reply",
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "id": "c-wr",
                    "leftValue": "={{ $json.intent }}",
                    "rightValue": "workflow_reply",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "renameOutput": true
            },
            {
              "outputKey": "spam",
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "id": "c-sp",
                    "leftValue": "={{ $json.intent }}",
                    "rightValue": "spam",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "renameOutput": true
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "id": "ac00052-0052-ac52-0052-000000000052",
      "name": "Route by Intent",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        7640,
        280
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.TWENTY_API_URL }}/graphql",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ 'Bearer ' + $env.TWENTY_API_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "options": {
          "timeout": 15000,
          "retry": {
            "enabled": true,
            "maxTries": 2,
            "waitBetweenTries": 1000
          }
        },
        "jsonBody": "={{ { query: 'mutation LowConf($data: ReviewTaskCreateInput!) { createReviewTask(data: $data) { id } }', variables: { data: { kind: 'LOW_CONFIDENCE_SCORE', subjectCandidate: { connect: { where: { id: ($('Resolve Candidate by Phone').first()?.json?.data?.candidates?.edges?.[0]?.node?.id || $('Create Candidate in Twenty').first()?.json?.data?.createCandidate?.id || '') ?? '' } } } } } } }}"
      },
      "id": "ac00053-0053-ac53-0053-000000000053",
      "name": "Create Low-Confidence Review Task",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        7880,
        180
      ]
    },
    {
      "parameters": {
        "operation": "get",
        "key": "={{ 'hra:conv:' + ($('Resolve Candidate by Phone').first()?.json?.data?.candidates?.edges?.[0]?.node?.id || $('Create Candidate in Twenty').first()?.json?.data?.createCandidate?.id || '') }}",
        "propertyName": "value"
      },
      "id": "ac00054-0054-ac54-0054-000000000054",
      "name": "Get Lock \u2014 Low Confidence",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        8120,
        180
      ],
      "credentials": {
        "redis": {
          "id": "z1cSQv7BNcP3j2XY",
          "name": "Redis"
        }
      }
    },
    {
      "parameters": {
        "source": "database",
        "workflowId": {
          "__rl": true,
          "value": "7XU0LaNGK2WLUhPE",
          "mode": "id"
        },
        "options": {},
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "to": "={{ $('Normalise Phone Number').first()?.json?.phoneE164 }}",
            "body": "={{ 'Hi ' + ($('Set Candidate Context').first()?.json?.firstName || 'there') + ', thank you for reaching out. We want to make sure you are okay. One of our team will be in touch with you shortly.' }}",
            "conversationId": "={{ $('Upsert Conversation Record').first()?.json?.id ?? '00000000-0000-0000-0000-000000000000' }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "to",
              "displayName": "to",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "body",
              "displayName": "body",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "conversationId",
              "displayName": "conversationId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "id": "ac00055-0055-ac55-0055-000000000055",
      "name": "Send Distress Holding Reply",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        7880,
        380
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.TWENTY_API_URL }}/graphql",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ 'Bearer ' + $env.TWENTY_API_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "options": {
          "timeout": 15000,
          "retry": {
            "enabled": true,
            "maxTries": 2,
            "waitBetweenTries": 1000
          }
        },
        "jsonBody": "={{ { query: 'mutation Distress($data: ReviewTaskCreateInput!) { createReviewTask(data: $data) { id } }', variables: { data: { kind: 'COMPLIANCE_FLAG', subjectCandidate: { connect: { where: { id: ($('Resolve Candidate by Phone').first()?.json?.data?.candidates?.edges?.[0]?.node?.id || $('Create Candidate in Twenty').first()?.json?.data?.createCandidate?.id || '') ?? '' } } } } } } }}"
      },
      "id": "ac00056-0056-ac56-0056-000000000056",
      "name": "Create Distress Review Task",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        8120,
        380
      ]
    },
    {
      "parameters": {
        "operation": "get",
        "key": "={{ 'hra:conv:' + ($('Resolve Candidate by Phone').first()?.json?.data?.candidates?.edges?.[0]?.node?.id || $('Create Candidate in Twenty').first()?.json?.data?.createCandidate?.id || '') }}",
        "propertyName": "value"
      },
      "id": "ac00057-0057-ac57-0057-000000000057",
      "name": "Get Lock \u2014 Distress",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        8360,
        380
      ],
      "credentials": {
        "redis": {
          "id": "z1cSQv7BNcP3j2XY",
          "name": "Redis"
        }
      }
    },
    {
      "parameters": {
        "source": "database",
        "workflowId": {
          "__rl": true,
          "value": "idPrJIC9q7ioN89i",
          "mode": "id"
        },
        "options": {},
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "candidateId": "={{ ($('Resolve Candidate by Phone').first()?.json?.data?.candidates?.edges?.[0]?.node?.id || $('Create Candidate in Twenty').first()?.json?.data?.createCandidate?.id || '') ?? '00000000-0000-0000-0000-000000000000' }}",
            "phoneE164": "={{ $('Normalise Phone Number').first()?.json?.phoneE164 }}",
            "firstName": "={{ $('Set Candidate Context').first()?.json?.firstName }}",
            "intent": "DATA",
            "lockValue": "={{ $execution.id }}",
            "conversationId": "={{ $('Upsert Conversation Record').first()?.json?.id ?? '00000000-0000-0000-0000-000000000000' }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "candidateId",
              "displayName": "candidateId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "phoneE164",
              "displayName": "phoneE164",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "firstName",
              "displayName": "firstName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "intent",
              "displayName": "intent",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "lockValue",
              "displayName": "lockValue",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "conversationId",
              "displayName": "conversationId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "id": "ac00058-0058-ac58-0058-000000000058",
      "name": "Handle DPA Request",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        7880,
        480
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO event_log (workflow_name, execution_id, level, event, candidate_id, message) VALUES ('workflow_a_communications', $1, 'info', 'spam_detected', $2, $3)",
        "options": {
          "queryReplacement": "={{ [$execution.id, ($('Resolve Candidate by Phone').first()?.json?.data?.candidates?.edges?.[0]?.node?.id || $('Create Candidate in Twenty').first()?.json?.data?.createCandidate?.id || '') ?? '00000000-0000-0000-0000-000000000000', $json.intent + ' confidence=' + $json.confidence] }}"
        }
      },
      "id": "ac00059-0059-ac59-0059-000000000059",
      "name": "Log Spam Intent",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        7880,
        580
      ],
      "credentials": {
        "postgres": {
          "id": "9qvzHACQwY5XcPoG",
          "name": "Bookings DB (n8n_bookings)"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "key": "={{ 'hra:conv:' + ($('Resolve Candidate by Phone').first()?.json?.data?.candidates?.edges?.[0]?.node?.id || $('Create Candidate in Twenty').first()?.json?.data?.createCandidate?.id || '') }}",
        "propertyName": "value"
      },
      "id": "ac00060-0060-ac60-0060-000000000060",
      "name": "Get Lock \u2014 Spam",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        8120,
        580
      ],
      "credentials": {
        "redis": {
          "id": "z1cSQv7BNcP3j2XY",
          "name": "Redis"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO event_log (workflow_name, execution_id, level, event, candidate_id) VALUES ('workflow_a_communications', $1, 'info', 'workflow_dispatch', $2)",
        "options": {
          "queryReplacement": "={{ [$execution.id, ($('Resolve Candidate by Phone').first()?.json?.data?.candidates?.edges?.[0]?.node?.id || $('Create Candidate in Twenty').first()?.json?.data?.createCandidate?.id || '') ?? '00000000-0000-0000-0000-000000000000'] }}"
        }
      },
      "id": "ac00061-0061-ac61-0061-000000000061",
      "name": "Log Workflow Dispatch",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        7880,
        680
      ],
      "credentials": {
        "postgres": {
          "id": "9qvzHACQwY5XcPoG",
          "name": "Bookings DB (n8n_bookings)"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "key": "={{ 'hra:conv:' + ($('Resolve Candidate by Phone').first()?.json?.data?.candidates?.edges?.[0]?.node?.id || $('Create Candidate in Twenty').first()?.json?.data?.createCandidate?.id || '') }}",
        "propertyName": "value"
      },
      "id": "ac00062-0062-ac62-0062-000000000062",
      "name": "Get Lock \u2014 Workflow Dispatch",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        8120,
        680
      ],
      "credentials": {
        "redis": {
          "id": "z1cSQv7BNcP3j2XY",
          "name": "Redis"
        }
      }
    },
    {
      "parameters": {
        "source": "database",
        "workflowId": {
          "__rl": true,
          "value": "aaX1BK1N0yFZ8ydt",
          "mode": "id"
        },
        "options": {},
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "model": "claude-sonnet-4-6",
            "workflowName": "workflow_a_communications",
            "maxTokens": 500,
            "systemPrompt": "={{ 'You are a warm, professional assistant for a Ghanaian HR and recruiting firm in Accra. Keep replies to 1-3 sentences for WhatsApp. Use plain Ghanaian English. Never promise a placement, salary, interview outcome, or timeline. If you are unsure, say you will check with the team. Conversation history follows, then the candidate\\'s new message. Previous summary: <<SUMMARY_BEGIN>>' + ($('Fetch Conversation Summary').first()?.json?.summary ?? '') + '<<SUMMARY_END>>' }}",
            "messages": "={{ $('Fetch Last 20 Messages').all().slice(-10).map(m => ({role: m.json.direction === 'inbound' ? 'user' : 'assistant', content: m.json.body})).concat([{role: 'user', content: '<<CANDIDATE_MESSAGE_BEGIN>>' + $('Normalise Phone Number').first()?.json?.messageBody + '<<CANDIDATE_MESSAGE_END>>'}]) }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "model",
              "displayName": "model",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "workflowName",
              "displayName": "workflowName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "maxTokens",
              "displayName": "maxTokens",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "systemPrompt",
              "displayName": "systemPrompt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "messages",
              "displayName": "messages",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "array",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "id": "ac00063-0063-ac63-0063-000000000063",
      "name": "Generate Reply \u2014 Claude Sonnet",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        7880,
        780
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO conversation_message (conversation_id, direction, body, occurred_at) VALUES ($1, 'outbound', $2, NOW())",
        "options": {
          "queryReplacement": "={{ [$('Upsert Conversation Record').first()?.json?.id ?? '00000000-0000-0000-0000-000000000000', $json.content] }}"
        }
      },
      "id": "ac00064-0064-ac64-0064-000000000064",
      "name": "Store Outbound Message",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        8120,
        780
      ],
      "credentials": {
        "postgres": {
          "id": "9qvzHACQwY5XcPoG",
          "name": "Bookings DB (n8n_bookings)"
        }
      }
    },
    {
      "parameters": {
        "source": "database",
        "workflowId": {
          "__rl": true,
          "value": "7XU0LaNGK2WLUhPE",
          "mode": "id"
        },
        "options": {},
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "to": "={{ $('Normalise Phone Number').first()?.json?.phoneE164 }}",
            "body": "={{ ($('Generate Reply \u2014 Claude Sonnet').first()?.json?.content?.[0]?.text ?? $('Generate Reply \u2014 Claude Sonnet').first()?.json?.content ?? '') }}",
            "conversationId": "={{ $('Upsert Conversation Record').first()?.json?.id ?? '00000000-0000-0000-0000-000000000000' }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "to",
              "displayName": "to",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "body",
              "displayName": "body",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "conversationId",
              "displayName": "conversationId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "id": "ac00065-0065-ac65-0065-000000000065",
      "name": "Send Reply \u2014 WA",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        8360,
        780
      ]
    },
    {
      "parameters": {
        "operation": "get",
        "key": "={{ 'hra:conv:' + ($('Resolve Candidate by Phone').first()?.json?.data?.candidates?.edges?.[0]?.node?.id || $('Create Candidate in Twenty').first()?.json?.data?.createCandidate?.id || '') }}",
        "propertyName": "value"
      },
      "id": "ac00066-0066-ac66-0066-000000000066",
      "name": "Get Lock \u2014 Open Conversation",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        9080,
        780
      ],
      "credentials": {
        "redis": {
          "id": "z1cSQv7BNcP3j2XY",
          "name": "Redis"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "cond-calib",
              "leftValue": "={{ $env.CALIBRATION_WINDOW_ACTIVE }}",
              "rightValue": "true",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ]
        },
        "options": {}
      },
      "id": "ac00067-0067-ac67-0067-000000000067",
      "name": "Calibration Gate",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        8360,
        780
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.TWENTY_API_URL }}/graphql",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ 'Bearer ' + $env.TWENTY_API_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "options": {
          "timeout": 15000,
          "retry": {
            "enabled": true,
            "maxTries": 2,
            "waitBetweenTries": 1000
          }
        },
        "jsonBody": "={{ { query: 'mutation CalibReview($data: ReviewTaskCreateInput!) { createReviewTask(data: $data) { id } }', variables: { data: { kind: 'OTHER', subjectCandidate: { connect: { where: { id: ($('Resolve Candidate by Phone').first()?.json?.data?.candidates?.edges?.[0]?.node?.id || $('Create Candidate in Twenty').first()?.json?.data?.createCandidate?.id || '') ?? '' } } } } } } }}"
      },
      "id": "ac00068-0068-ac68-0068-000000000068",
      "name": "Create Calibration Review Task",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        8600,
        680
      ]
    },
    {
      "parameters": {
        "source": "database",
        "workflowId": {
          "__rl": true,
          "value": "7XU0LaNGK2WLUhPE",
          "mode": "id"
        },
        "options": {},
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "to": "={{ $('Normalise Phone Number').first()?.json?.phoneE164 }}",
            "body": "={{ 'Hi ' + ($('Set Candidate Context').first()?.json?.firstName || 'there') + \", thanks for your message. One of our team will get back to you shortly.\" }}",
            "conversationId": "={{ $('Upsert Conversation Record').first()?.json?.id ?? '00000000-0000-0000-0000-000000000000' }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "to",
              "displayName": "to",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "body",
              "displayName": "body",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "conversationId",
              "displayName": "conversationId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "id": "ac00069-0069-ac69-0069-000000000069",
      "name": "Send Holding Reply \u2014 Calibration",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        8840,
        680
      ]
    },
    {
      "parameters": {
        "operation": "set",
        "key": "={{ 'hra:dedupe:' + $('Normalise Phone Number').first()?.json?.waMessageId }}",
        "value": "1",
        "expire": true,
        "ttl": 86400
      },
      "id": "ac00004b-dedup-set01-0000-000000000001",
      "name": "Set Dedupe Key",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        2000,
        480
      ],
      "credentials": {
        "redis": {
          "id": "z1cSQv7BNcP3j2XY",
          "name": "Redis"
        }
      }
    },
    {
      "parameters": {
        "operation": "set",
        "key": "={{ 'hra:conv:' + ($('Resolve Candidate by Phone').first()?.json?.data?.candidates?.edges?.[0]?.node?.id || $('Create Candidate in Twenty').first()?.json?.data?.createCandidate?.id || '') }}",
        "value": "={{ $execution.id }}",
        "expire": true,
        "ttl": 180
      },
      "id": "ac00013s-conv-set01-0000-000000000001",
      "name": "Set Conv Lock",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        3560,
        480
      ],
      "credentials": {
        "redis": {
          "id": "z1cSQv7BNcP3j2XY",
          "name": "Redis"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "cond-has-cid",
              "leftValue": "={{ $('Query Lock Value from Event Log').first()?.json?.candidate_id ?? '' }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            },
            {
              "id": "cond-token-match",
              "leftValue": "={{ $json.value ?? '' }}",
              "rightValue": "={{ $('Query Lock Value from Event Log').first()?.json?.lock_value ?? '' }}",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ]
        },
        "options": {}
      },
      "id": "ac_e002if-e002-e002-e002-000000000002",
      "name": "Check Token on Error",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        920,
        900
      ]
    },
    {
      "parameters": {
        "operation": "delete",
        "key": "={{ 'hra:conv:' + ($('Query Lock Value from Event Log').first()?.json?.candidate_id ?? '') }}"
      },
      "id": "ac_e002dl-e002-e002-e002-000000000002",
      "name": "Delete Lock on Error",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        1160,
        900
      ],
      "credentials": {
        "redis": {
          "id": "z1cSQv7BNcP3j2XY",
          "name": "Redis"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "cond-token",
              "leftValue": "={{ $json.value ?? '' }}",
              "rightValue": "={{ $execution.id }}",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ]
        },
        "options": {}
      },
      "id": "ac00023if-00023-00023-00023-000230000000",
      "name": "Check Token \u2014 Consent Refused",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        5240,
        480
      ]
    },
    {
      "parameters": {
        "operation": "delete",
        "key": "={{ 'hra:conv:' + ($('Resolve Candidate by Phone').first()?.json?.data?.candidates?.edges?.[0]?.node?.id || $('Create Candidate in Twenty').first()?.json?.data?.createCandidate?.id || '') }}"
      },
      "id": "ac00023dl-00023-00023-00023-000230000000",
      "name": "Delete Lock \u2014 Consent Refused",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        5480,
        480
      ],
      "credentials": {
        "redis": {
          "id": "z1cSQv7BNcP3j2XY",
          "name": "Redis"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "cond-token",
              "leftValue": "={{ $json.value ?? '' }}",
              "rightValue": "={{ $execution.id }}",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ]
        },
        "options": {}
      },
      "id": "ac00025if-00025-00025-00025-000250000000",
      "name": "Check Token \u2014 Consent Pending",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        5000,
        680
      ]
    },
    {
      "parameters": {
        "operation": "delete",
        "key": "={{ 'hra:conv:' + ($('Resolve Candidate by Phone').first()?.json?.data?.candidates?.edges?.[0]?.node?.id || $('Create Candidate in Twenty').first()?.json?.data?.createCandidate?.id || '') }}"
      },
      "id": "ac00025dl-00025-00025-00025-000250000000",
      "name": "Delete Lock \u2014 Consent Pending",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        5240,
        680
      ],
      "credentials": {
        "redis": {
          "id": "z1cSQv7BNcP3j2XY",
          "name": "Redis"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "cond-token",
              "leftValue": "={{ $json.value ?? '' }}",
              "rightValue": "={{ $execution.id }}",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ]
        },
        "options": {}
      },
      "id": "ac00028if-00028-00028-00028-000280000000",
      "name": "Check Token \u2014 Refused or Revoked",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        4520,
        580
      ]
    },
    {
      "parameters": {
        "operation": "delete",
        "key": "={{ 'hra:conv:' + ($('Resolve Candidate by Phone').first()?.json?.data?.candidates?.edges?.[0]?.node?.id || $('Create Candidate in Twenty').first()?.json?.data?.createCandidate?.id || '') }}"
      },
      "id": "ac00028dl-00028-00028-00028-000280000000",
      "name": "Delete Lock \u2014 Refused or Revoked",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        4760,
        580
      ],
      "credentials": {
        "redis": {
          "id": "z1cSQv7BNcP3j2XY",
          "name": "Redis"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "cond-token",
              "leftValue": "={{ $json.value ?? '' }}",
              "rightValue": "={{ $execution.id }}",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ]
        },
        "options": {}
      },
      "id": "ac00034if-00034-00034-00034-000340000000",
      "name": "Check Token \u2014 Local Language",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        5960,
        180
      ]
    },
    {
      "parameters": {
        "operation": "delete",
        "key": "={{ 'hra:conv:' + ($('Resolve Candidate by Phone').first()?.json?.data?.candidates?.edges?.[0]?.node?.id || $('Create Candidate in Twenty').first()?.json?.data?.createCandidate?.id || '') }}"
      },
      "id": "ac00034dl-00034-00034-00034-000340000000",
      "name": "Delete Lock \u2014 Local Language",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        6200,
        180
      ],
      "credentials": {
        "redis": {
          "id": "z1cSQv7BNcP3j2XY",
          "name": "Redis"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "cond-token",
              "leftValue": "={{ $json.value ?? '' }}",
              "rightValue": "={{ $execution.id }}",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ]
        },
        "options": {}
      },
      "id": "ac00041if-00041-00041-00041-000410000000",
      "name": "Check Token \u2014 Second Strike Audio",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        6920,
        380
      ]
    },
    {
      "parameters": {
        "operation": "delete",
        "key": "={{ 'hra:conv:' + ($('Resolve Candidate by Phone').first()?.json?.data?.candidates?.edges?.[0]?.node?.id || $('Create Candidate in Twenty').first()?.json?.data?.createCandidate?.id || '') }}"
      },
      "id": "ac00041dl-00041-00041-00041-000410000000",
      "name": "Delete Lock \u2014 Second Strike Audio",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        7160,
        380
      ],
      "credentials": {
        "redis": {
          "id": "z1cSQv7BNcP3j2XY",
          "name": "Redis"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "cond-token",
              "leftValue": "={{ $json.value ?? '' }}",
              "rightValue": "={{ $execution.id }}",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ]
        },
        "options": {}
      },
      "id": "ac00044if-00044-00044-00044-000440000000",
      "name": "Check Token \u2014 Low Quality Audio",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        7160,
        580
      ]
    },
    {
      "parameters": {
        "operation": "delete",
        "key": "={{ 'hra:conv:' + ($('Resolve Candidate by Phone').first()?.json?.data?.candidates?.edges?.[0]?.node?.id || $('Create Candidate in Twenty').first()?.json?.data?.createCandidate?.id || '') }}"
      },
      "id": "ac00044dl-00044-00044-00044-000440000000",
      "name": "Delete Lock \u2014 Low Quality Audio",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        7400,
        580
      ],
      "credentials": {
        "redis": {
          "id": "z1cSQv7BNcP3j2XY",
          "name": "Redis"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "cond-token",
              "leftValue": "={{ $json.value ?? '' }}",
              "rightValue": "={{ $execution.id }}",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ]
        },
        "options": {}
      },
      "id": "ac00054if-00054-00054-00054-000540000000",
      "name": "Check Token \u2014 Low Confidence",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        8360,
        180
      ]
    },
    {
      "parameters": {
        "operation": "delete",
        "key": "={{ 'hra:conv:' + ($('Resolve Candidate by Phone').first()?.json?.data?.candidates?.edges?.[0]?.node?.id || $('Create Candidate in Twenty').first()?.json?.data?.createCandidate?.id || '') }}"
      },
      "id": "ac00054dl-00054-00054-00054-000540000000",
      "name": "Delete Lock \u2014 Low Confidence",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        8600,
        180
      ],
      "credentials": {
        "redis": {
          "id": "z1cSQv7BNcP3j2XY",
          "name": "Redis"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "cond-token",
              "leftValue": "={{ $json.value ?? '' }}",
              "rightValue": "={{ $execution.id }}",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ]
        },
        "options": {}
      },
      "id": "ac00057if-00057-00057-00057-000570000000",
      "name": "Check Token \u2014 Distress",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        8600,
        380
      ]
    },
    {
      "parameters": {
        "operation": "delete",
        "key": "={{ 'hra:conv:' + ($('Resolve Candidate by Phone').first()?.json?.data?.candidates?.edges?.[0]?.node?.id || $('Create Candidate in Twenty').first()?.json?.data?.createCandidate?.id || '') }}"
      },
      "id": "ac00057dl-00057-00057-00057-000570000000",
      "name": "Delete Lock \u2014 Distress",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        8840,
        380
      ],
      "credentials": {
        "redis": {
          "id": "z1cSQv7BNcP3j2XY",
          "name": "Redis"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "cond-token",
              "leftValue": "={{ $json.value ?? '' }}",
              "rightValue": "={{ $execution.id }}",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ]
        },
        "options": {}
      },
      "id": "ac00060if-00060-00060-00060-000600000000",
      "name": "Check Token \u2014 Spam",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        8360,
        580
      ]
    },
    {
      "parameters": {
        "operation": "delete",
        "key": "={{ 'hra:conv:' + ($('Resolve Candidate by Phone').first()?.json?.data?.candidates?.edges?.[0]?.node?.id || $('Create Candidate in Twenty').first()?.json?.data?.createCandidate?.id || '') }}"
      },
      "id": "ac00060dl-00060-00060-00060-000600000000",
      "name": "Delete Lock \u2014 Spam",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        8600,
        580
      ],
      "credentials": {
        "redis": {
          "id": "z1cSQv7BNcP3j2XY",
          "name": "Redis"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "cond-token",
              "leftValue": "={{ $json.value ?? '' }}",
              "rightValue": "={{ $execution.id }}",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ]
        },
        "options": {}
      },
      "id": "ac00062if-00062-00062-00062-000620000000",
      "name": "Check Token \u2014 Workflow Dispatch",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        8360,
        680
      ]
    },
    {
      "parameters": {
        "operation": "delete",
        "key": "={{ 'hra:conv:' + ($('Resolve Candidate by Phone').first()?.json?.data?.candidates?.edges?.[0]?.node?.id || $('Create Candidate in Twenty').first()?.json?.data?.createCandidate?.id || '') }}"
      },
      "id": "ac00062dl-00062-00062-00062-000620000000",
      "name": "Delete Lock \u2014 Workflow Dispatch",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        8600,
        680
      ],
      "credentials": {
        "redis": {
          "id": "z1cSQv7BNcP3j2XY",
          "name": "Redis"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "cond-token",
              "leftValue": "={{ $json.value ?? '' }}",
              "rightValue": "={{ $execution.id }}",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ]
        },
        "options": {}
      },
      "id": "ac00066if-00066-00066-00066-000660000000",
      "name": "Check Token \u2014 Open Conversation",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        9320,
        780
      ]
    },
    {
      "parameters": {
        "operation": "delete",
        "key": "={{ 'hra:conv:' + ($('Resolve Candidate by Phone').first()?.json?.data?.candidates?.edges?.[0]?.node?.id || $('Create Candidate in Twenty').first()?.json?.data?.createCandidate?.id || '') }}"
      },
      "id": "ac00066dl-00066-00066-00066-000660000000",
      "name": "Delete Lock \u2014 Open Conversation",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        9560,
        780
      ],
      "credentials": {
        "redis": {
          "id": "z1cSQv7BNcP3j2XY",
          "name": "Redis"
        }
      }
    },
    {
      "id": "ac_cg01-cg01-cg01-cg01-000000cg0100",
      "name": "Is Consent Granted?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        3800,
        480
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "c-granted",
              "leftValue": "={{ ($('Resolve Candidate by Phone').first()?.json?.data?.candidates?.edges?.[0]?.node?.consentStatus || $('Create Candidate in Twenty').first()?.json?.data?.createCandidate?.consentStatus || '') }}",
              "rightValue": "GRANTED",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "ac_cr01-cr01-cr01-cr01-000000cr0100",
      "name": "Is Consent Refused?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        4040,
        580
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "combinator": "or",
          "conditions": [
            {
              "id": "c-refused",
              "leftValue": "={{ ($('Resolve Candidate by Phone').first()?.json?.data?.candidates?.edges?.[0]?.node?.consentStatus || $('Create Candidate in Twenty').first()?.json?.data?.createCandidate?.consentStatus || '') }}",
              "rightValue": "REFUSED",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "c-revoked",
              "leftValue": "={{ ($('Resolve Candidate by Phone').first()?.json?.data?.candidates?.edges?.[0]?.node?.consentStatus || $('Create Candidate in Twenty').first()?.json?.data?.createCandidate?.consentStatus || '') }}",
              "rightValue": "REVOKED",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "ac00200-0200-ac20-0200-000000000200",
      "name": "Enqueue Screening Inbox",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        8840,
        680
      ],
      "credentials": {
        "postgres": {
          "id": "9qvzHACQwY5XcPoG",
          "name": "Bookings DB (n8n_bookings)"
        }
      },
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO screening_inbox (candidate_id, application_id, trigger_kind, payload)\nVALUES (\n  $1,\n  $2,\n  CASE WHEN EXISTS (\n    SELECT 1 FROM blue_collar_screening\n    WHERE candidate_id = $1 AND status = 'in_progress'\n  ) THEN 'blue_collar_reply' ELSE 'blue_collar_new' END,\n  CASE WHEN EXISTS (\n    SELECT 1 FROM blue_collar_screening\n    WHERE candidate_id = $1 AND status = 'in_progress'\n  ) THEN jsonb_build_object('messageBody', $3) ELSE NULL END\n)\nON CONFLICT (candidate_id) WHERE processed_at IS NULL DO NOTHING",
        "options": {
          "queryReplacement": "={{ [\n  $('Resolve Candidate by Phone').first()?.json?.data?.candidates?.edges?.[0]?.node?.id ?? '',\n  null,\n  $('Normalise Phone Number').first()?.json?.messageBody ?? ''\n] }}"
        }
      }
    },
    {
      "id": "ac00201-0201-ac21-0201-000000000201",
      "name": "Enqueue Screening Inbox \u2014 Open Conversation",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        9800,
        780
      ],
      "credentials": {
        "postgres": {
          "id": "9qvzHACQwY5XcPoG",
          "name": "Bookings DB (n8n_bookings)"
        }
      },
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO screening_inbox (candidate_id, application_id, trigger_kind) VALUES ($1, $2, 'new_application') ON CONFLICT (candidate_id) WHERE processed_at IS NULL DO NOTHING",
        "options": {
          "queryReplacement": "={{ [$('Resolve Candidate by Phone').first()?.json?.data?.candidates?.edges?.[0]?.node?.id || $('Create Candidate in Twenty').first()?.json?.data?.createCandidate?.id || '', null] }}"
        }
      }
    }
  ],
  "connections": {
    "WhatsApp Webhook (GET)": {
      "main": [
        [
          {
            "node": "Verify Token Matches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verify Token Matches": {
      "main": [
        [
          {
            "node": "Respond 200 Challenge",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond 403 Verify Failed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "WhatsApp Webhook (POST)": {
      "main": [
        [
          {
            "node": "Validate HMAC",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate HMAC": {
      "main": [
        [
          {
            "node": "HMAC Valid",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HMAC Valid": {
      "main": [
        [
          {
            "node": "Log Inbound Event",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Log POST Validation Failure",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Inbound Event": {
      "main": [
        [
          {
            "node": "Respond 200 Event Received",
            "type": "main",
            "index": 0
          },
          {
            "node": "Normalise Phone Number",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log POST Validation Failure": {
      "main": [
        [
          {
            "node": "Respond 403 HMAC Failed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Error Trigger": {
      "main": [
        [
          {
            "node": "Query Lock Value from Event Log",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Query Lock Value from Event Log": {
      "main": [
        [
          {
            "node": "Get Lock on Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Write Workflow Error": {
      "main": [
        [
          {
            "node": "Check Retry Attempt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Retry Attempt": {
      "main": [
        [
          {
            "node": "Log Retry Hint",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create Workflow Error Review Task",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalise Phone Number": {
      "main": [
        [
          {
            "node": "Phone Valid",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Phone Valid": {
      "main": [
        [
          {
            "node": "Get Dedupe Key",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Log Invalid Phone",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is New Message": {
      "main": [
        [
          {
            "node": "Set Dedupe Key",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Log Dedupe Hit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Resolve Candidate by Phone": {
      "main": [
        [
          {
            "node": "Count Candidate Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Count Candidate Results": {
      "main": [
        [
          {
            "node": "Create Candidate in Twenty",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set Candidate Context",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Flag Duplicate Candidate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Candidate in Twenty": {
      "main": [
        [
          {
            "node": "Set Candidate Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Flag Duplicate Candidate": {
      "main": [
        [
          {
            "node": "Log Stop \u2014 Duplicate Candidate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Candidate Context": {
      "main": [
        [
          {
            "node": "Get Conv Lock",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lock Acquired": {
      "main": [
        [
          {
            "node": "Set Conv Lock",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Log Lock Contention",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Write Lock Acquired Event": {
      "main": [
        [
          {
            "node": "Is Consent Granted?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Pending Consent Reply": {
      "main": [
        [
          {
            "node": "Route Consent Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route Consent Reply": {
      "main": [
        [
          {
            "node": "Grant Consent in Twenty",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Refuse Consent in Twenty",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Handle DPA Before Consent",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Consent Request Template",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Grant Consent in Twenty": {
      "main": [
        [
          {
            "node": "Route by Message Type",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Refuse Consent in Twenty": {
      "main": [
        [
          {
            "node": "Send Consent Refusal Ack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Consent Refusal Ack": {
      "main": [
        [
          {
            "node": "Get Lock \u2014 Consent Refused",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Consent Request Template": {
      "main": [
        [
          {
            "node": "Get Lock \u2014 Consent Pending",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Already Opted-Out Reply": {
      "main": [
        [
          {
            "node": "Get Lock \u2014 Refused or Revoked",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route by Message Type": {
      "main": [
        [
          {
            "node": "Language Detection \u2014 Short Clip",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Clear Voice Note Retry Flag",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Language Detection \u2014 Short Clip": {
      "main": [
        [
          {
            "node": "Check Language Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Language Code": {
      "main": [
        [
          {
            "node": "Full Transcription \u2014 Groq Whisper",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Route Local Language to Review",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route Local Language to Review": {
      "main": [
        [
          {
            "node": "Send Please Retype \u2014 Local Language",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Please Retype \u2014 Local Language": {
      "main": [
        [
          {
            "node": "Get Lock \u2014 Local Language",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Full Transcription \u2014 Groq Whisper": {
      "main": [
        [
          {
            "node": "Evaluate Transcript Confidence",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Evaluate Transcript Confidence": {
      "main": [
        [
          {
            "node": "Route by Transcript Quality",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route by Transcript Quality": {
      "main": [
        [
          {
            "node": "Clear Voice Note Retry Flag",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Check Voice Note Retry State",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Voice Note Retry State": {
      "main": [
        [
          {
            "node": "Is Second Strike",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Second Strike": {
      "main": [
        [
          {
            "node": "Create Manual Review Task \u2014 Audio",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Please Retype \u2014 Low Quality",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Manual Review Task \u2014 Audio": {
      "main": [
        [
          {
            "node": "Get Lock \u2014 Second Strike Audio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Please Retype \u2014 Low Quality": {
      "main": [
        [
          {
            "node": "Set Voice Note Retry Flag",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Voice Note Retry Flag": {
      "main": [
        [
          {
            "node": "Get Lock \u2014 Low Quality Audio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Clear Voice Note Retry Flag": {
      "main": [
        [
          {
            "node": "Upsert Conversation Record",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upsert Conversation Record": {
      "main": [
        [
          {
            "node": "Store Inbound Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Store Inbound Message": {
      "main": [
        [
          {
            "node": "Fetch Last 20 Messages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Last 20 Messages": {
      "main": [
        [
          {
            "node": "Fetch Conversation Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Conversation Summary": {
      "main": [
        [
          {
            "node": "Classify Intent \u2014 Claude Haiku",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Classify Intent \u2014 Claude Haiku": {
      "main": [
        [
          {
            "node": "Parse Intent and Confidence",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Intent and Confidence": {
      "main": [
        [
          {
            "node": "Route by Intent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route by Intent": {
      "main": [
        [
          {
            "node": "Create Low-Confidence Review Task",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Distress Holding Reply",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Handle DPA Request",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Log Workflow Dispatch",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Log Spam Intent",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Generate Reply \u2014 Claude Sonnet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Low-Confidence Review Task": {
      "main": [
        [
          {
            "node": "Get Lock \u2014 Low Confidence",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Distress Holding Reply": {
      "main": [
        [
          {
            "node": "Create Distress Review Task",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Distress Review Task": {
      "main": [
        [
          {
            "node": "Get Lock \u2014 Distress",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Spam Intent": {
      "main": [
        [
          {
            "node": "Get Lock \u2014 Spam",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Workflow Dispatch": {
      "main": [
        [
          {
            "node": "Get Lock \u2014 Workflow Dispatch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Reply \u2014 Claude Sonnet": {
      "main": [
        [
          {
            "node": "Store Outbound Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Store Outbound Message": {
      "main": [
        [
          {
            "node": "Calibration Gate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calibration Gate": {
      "main": [
        [
          {
            "node": "Create Calibration Review Task",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Reply \u2014 WA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Calibration Review Task": {
      "main": [
        [
          {
            "node": "Send Holding Reply \u2014 Calibration",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Holding Reply \u2014 Calibration": {
      "main": [
        [
          {
            "node": "Get Lock \u2014 Open Conversation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Reply \u2014 WA": {
      "main": [
        [
          {
            "node": "Get Lock \u2014 Open Conversation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Dedupe Key": {
      "main": [
        [
          {
            "node": "Is New Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Dedupe Key": {
      "main": [
        [
          {
            "node": "Resolve Candidate by Phone",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Conv Lock": {
      "main": [
        [
          {
            "node": "Lock Acquired",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Conv Lock": {
      "main": [
        [
          {
            "node": "Write Lock Acquired Event",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Lock on Error": {
      "main": [
        [
          {
            "node": "Check Token on Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Token on Error": {
      "main": [
        [
          {
            "node": "Delete Lock on Error",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Write Workflow Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete Lock on Error": {
      "main": [
        [
          {
            "node": "Write Workflow Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Lock \u2014 Consent Refused": {
      "main": [
        [
          {
            "node": "Check Token \u2014 Consent Refused",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Token \u2014 Consent Refused": {
      "main": [
        [
          {
            "node": "Delete Lock \u2014 Consent Refused",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Get Lock \u2014 Consent Pending": {
      "main": [
        [
          {
            "node": "Check Token \u2014 Consent Pending",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Token \u2014 Consent Pending": {
      "main": [
        [
          {
            "node": "Delete Lock \u2014 Consent Pending",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Get Lock \u2014 Refused or Revoked": {
      "main": [
        [
          {
            "node": "Check Token \u2014 Refused or Revoked",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Token \u2014 Refused or Revoked": {
      "main": [
        [
          {
            "node": "Delete Lock \u2014 Refused or Revoked",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Get Lock \u2014 Local Language": {
      "main": [
        [
          {
            "node": "Check Token \u2014 Local Language",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Token \u2014 Local Language": {
      "main": [
        [
          {
            "node": "Delete Lock \u2014 Local Language",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Get Lock \u2014 Second Strike Audio": {
      "main": [
        [
          {
            "node": "Check Token \u2014 Second Strike Audio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Token \u2014 Second Strike Audio": {
      "main": [
        [
          {
            "node": "Delete Lock \u2014 Second Strike Audio",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Get Lock \u2014 Low Quality Audio": {
      "main": [
        [
          {
            "node": "Check Token \u2014 Low Quality Audio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Token \u2014 Low Quality Audio": {
      "main": [
        [
          {
            "node": "Delete Lock \u2014 Low Quality Audio",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Get Lock \u2014 Low Confidence": {
      "main": [
        [
          {
            "node": "Check Token \u2014 Low Confidence",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Token \u2014 Low Confidence": {
      "main": [
        [
          {
            "node": "Delete Lock \u2014 Low Confidence",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Get Lock \u2014 Distress": {
      "main": [
        [
          {
            "node": "Check Token \u2014 Distress",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Token \u2014 Distress": {
      "main": [
        [
          {
            "node": "Delete Lock \u2014 Distress",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Get Lock \u2014 Spam": {
      "main": [
        [
          {
            "node": "Check Token \u2014 Spam",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Token \u2014 Spam": {
      "main": [
        [
          {
            "node": "Delete Lock \u2014 Spam",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Get Lock \u2014 Workflow Dispatch": {
      "main": [
        [
          {
            "node": "Check Token \u2014 Workflow Dispatch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Token \u2014 Workflow Dispatch": {
      "main": [
        [
          {
            "node": "Delete Lock \u2014 Workflow Dispatch",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Get Lock \u2014 Open Conversation": {
      "main": [
        [
          {
            "node": "Check Token \u2014 Open Conversation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Token \u2014 Open Conversation": {
      "main": [
        [
          {
            "node": "Delete Lock \u2014 Open Conversation",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Is Consent Granted?": {
      "main": [
        [
          {
            "node": "Route by Message Type",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Is Consent Refused?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Consent Refused?": {
      "main": [
        [
          {
            "node": "Send Already Opted-Out Reply",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Parse Pending Consent Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete Lock \u2014 Workflow Dispatch": {
      "main": [
        [
          {
            "node": "Enqueue Screening Inbox",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete Lock \u2014 Open Conversation": {
      "main": [
        [
          {
            "node": "Enqueue Screening Inbox \u2014 Open Conversation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "tags": [
    {
      "name": "hr-automation"
    },
    {
      "name": "workflow-a"
    },
    {
      "name": "version-1.0"
    }
  ],
  "pinData": {},
  "meta": {}
}