n8n-workflows/communications/dpa-handler.json
{
  "name": "Subflow \u2014 DPA Handler",
  "nodes": [
    {
      "id": "dpa00001-0001-0001-0001-000000000001",
      "name": "DPA Handler Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        200,
        300
      ],
      "parameters": {}
    },
    {
      "id": "dpa00002-0002-0002-0002-000000000002",
      "name": "Classify DPA Intent",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        440,
        300
      ],
      "parameters": {
        "mode": "expression",
        "output": "single",
        "rules": {
          "rules": [
            {
              "outputKey": "data_access",
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "combinator": "or",
                "conditions": [
                  {
                    "id": "cond-data",
                    "leftValue": "={{ $json.intent }}",
                    "rightValue": "DATA",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  },
                  {
                    "id": "cond-access",
                    "leftValue": "={{ $json.intent }}",
                    "rightValue": "ACCESS",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "renameOutput": true
            },
            {
              "outputKey": "deletion",
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "combinator": "or",
                "conditions": [
                  {
                    "id": "cond-delete",
                    "leftValue": "={{ $json.intent }}",
                    "rightValue": "DELETE",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  },
                  {
                    "id": "cond-forget",
                    "leftValue": "={{ $json.intent }}",
                    "rightValue": "FORGET",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "renameOutput": true
            }
          ]
        },
        "fallbackOutput": "extra"
      }
    },
    {
      "id": "dpa00003-0003-0003-0003-000000000003",
      "name": "Send Data Access Ack",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.1,
      "position": [
        680,
        200
      ],
      "parameters": {
        "source": "database",
        "workflowId": {
          "__rl": true,
          "value": "PLACEHOLDER_WA_SEND_WORKFLOW_ID",
          "mode": "id"
        },
        "options": {},
        "fields": {
          "values": [
            {
              "name": "to",
              "stringValue": "={{ $json.phoneE164 }}"
            },
            {
              "name": "body",
              "stringValue": "={{ 'Hi ' + ($json.firstName || 'there') + \", we received your data access request. Our team will prepare and send your personal data within 30 days as required by data protection law. Thank you for reaching out.\" }}"
            },
            {
              "name": "conversationId",
              "stringValue": "={{ $json.conversationId }}"
            }
          ]
        }
      }
    },
    {
      "id": "dpa00004-0004-0004-0004-000000000004",
      "name": "Send Deletion Ack",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.1,
      "position": [
        680,
        400
      ],
      "parameters": {
        "source": "database",
        "workflowId": {
          "__rl": true,
          "value": "PLACEHOLDER_WA_SEND_WORKFLOW_ID",
          "mode": "id"
        },
        "options": {},
        "fields": {
          "values": [
            {
              "name": "to",
              "stringValue": "={{ $json.phoneE164 }}"
            },
            {
              "name": "body",
              "stringValue": "={{ 'Hi ' + ($json.firstName || 'there') + ', we have received your deletion request. Your personal data will be removed from our systems within 30 days. We will confirm once completed.' }}"
            },
            {
              "name": "conversationId",
              "stringValue": "={{ $json.conversationId }}"
            }
          ]
        }
      }
    },
    {
      "id": "dpa00005-0005-0005-0005-000000000005",
      "name": "Mark Candidate for Deletion",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        920,
        400
      ],
      "parameters": {
        "method": "POST",
        "url": "={{ $env.TWENTY_API_URL }}/graphql",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.TWENTY_API_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "string",
        "body": "={{ JSON.stringify({ query: 'mutation UpdateCandidate($id: ID!) { updateOneCandidate(id: $id, data: { dataRetentionPolicy: PENDING_DELETION }) { id } }', variables: { id: $json.candidateId } }) }}",
        "options": {
          "timeout": 15000,
          "retry": {
            "enabled": true,
            "maxTries": 2,
            "waitBetweenTries": 1000
          }
        }
      }
    },
    {
      "id": "dpa00006-0006-0006-0006-000000000006",
      "name": "Log DPA Event",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        1160,
        300
      ],
      "credentials": {
        "postgres": {
          "id": "PLACEHOLDER_BOOKINGS_DB_CRED",
          "name": "Bookings DB (n8n_bookings)"
        }
      },
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO event_log (workflow_name, execution_id, level, event, candidate_id, message) VALUES ('subflow_dpa_handler', $1, 'info', 'dpa_request_received', $2, $3)",
        "options": {
          "queryReplacement": "={{ $execution.id }},={{ $('DPA Handler Trigger').item.json.candidateId }},={{ $('DPA Handler Trigger').item.json.intent }}"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "key": "={{ 'hra:conv:' + $('DPA Handler Trigger').item.json.candidateId }}",
        "propertyName": "value"
      },
      "id": "dpa00007-0007-0007-0007-000000000007",
      "name": "Get Lock \u2014 DPA",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        1400,
        300
      ],
      "credentials": {
        "redis": {
          "id": "PLACEHOLDER_REDIS_CRED",
          "name": "Redis"
        }
      }
    },
    {
      "id": "dpa00008-0008-0008-0008-000000000008",
      "name": "DPA Error Trigger",
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1,
      "position": [
        200,
        500
      ],
      "parameters": {}
    },
    {
      "id": "dpa00009-0009-0009-0009-000000000009",
      "name": "Log DPA Error",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        440,
        500
      ],
      "credentials": {
        "postgres": {
          "id": "PLACEHOLDER_BOOKINGS_DB_CRED",
          "name": "Bookings DB (n8n_bookings)"
        }
      },
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO workflow_errors (workflow_name, execution_id, node_name, error_message, error_stack) VALUES ('subflow_dpa_handler', $1, $2, $3, $4)",
        "options": {
          "queryReplacement": "={{ $json.execution.id }},={{ $json.execution.lastNodeExecuted }},={{ $json.execution.error.message }},={{ $json.execution.error.stack }}"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "cond-has-cid",
              "leftValue": "={{ $('DPA Handler Trigger').item.json.candidateId ?? '' }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            },
            {
              "id": "cond-token",
              "leftValue": "={{ $json.value ?? '' }}",
              "rightValue": "={{ $('DPA Handler Trigger').item.json.lockValue ?? '' }}",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ]
        },
        "options": {}
      },
      "id": "dpa00007if-0007-0007-0007-000000000007",
      "name": "Check Token \u2014 DPA",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1640,
        300
      ]
    },
    {
      "parameters": {
        "operation": "delete",
        "key": "={{ 'hra:conv:' + $('DPA Handler Trigger').item.json.candidateId }}"
      },
      "id": "dpa00007dl-0007-0007-0007-000000000007",
      "name": "Delete Lock \u2014 DPA",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        1880,
        300
      ],
      "credentials": {
        "redis": {
          "id": "PLACEHOLDER_REDIS_CRED",
          "name": "Redis"
        }
      }
    }
  ],
  "connections": {
    "DPA Handler Trigger": {
      "main": [
        [
          {
            "node": "Classify DPA Intent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Classify DPA Intent": {
      "main": [
        [
          {
            "node": "Send Data Access Ack",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Deletion Ack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Data Access Ack": {
      "main": [
        [
          {
            "node": "Log DPA Event",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Deletion Ack": {
      "main": [
        [
          {
            "node": "Mark Candidate for Deletion",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mark Candidate for Deletion": {
      "main": [
        [
          {
            "node": "Log DPA Event",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log DPA Event": {
      "main": [
        [
          {
            "node": "Get Lock \u2014 DPA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DPA Error Trigger": {
      "main": [
        [
          {
            "node": "Log DPA Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Lock \u2014 DPA": {
      "main": [
        [
          {
            "node": "Check Token \u2014 DPA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Token \u2014 DPA": {
      "main": [
        [
          {
            "node": "Delete Lock \u2014 DPA",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "tags": [
    {
      "name": "hr-automation"
    },
    {
      "name": "workflow-a"
    },
    {
      "name": "subflow"
    },
    {
      "name": "version-1.0"
    }
  ],
  "pinData": {},
  "meta": {}
}
