n8n-workflows/screening/b-screening.json
{
  "name": "Workflow B \u2014 Screening",
  "nodes": [
    {
      "id": "b000001-0001-b001-0001-000000000001",
      "name": "Cron \u2014 Poll Screening Inbox",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        200,
        300
      ],
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "seconds",
              "secondsInterval": 60
            }
          ]
        }
      }
    },
    {
      "id": "b000002-0002-b002-0002-000000000002",
      "name": "Error Trigger",
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1,
      "position": [
        200,
        520
      ],
      "parameters": {}
    },
    {
      "id": "b000003-0003-b003-0003-000000000003",
      "name": "Claim Inbox Row",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        440,
        300
      ],
      "credentials": {
        "postgres": {
          "id": "9qvzHACQwY5XcPoG",
          "name": "Bookings DB (n8n_bookings)"
        }
      },
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE screening_inbox SET claimed_by = $1, claimed_at = NOW() WHERE id = (SELECT id FROM screening_inbox WHERE claimed_at IS NULL ORDER BY created_at ASC LIMIT 1 FOR UPDATE SKIP LOCKED) RETURNING *",
        "options": {
          "queryReplacement": "={{ [$execution.id] }}"
        }
      }
    },
    {
      "id": "b000004-0004-b004-0004-000000000004",
      "name": "Row Claimed?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        680,
        300
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "cond-row-claimed",
              "leftValue": "={{ $json.id ?? '' }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "b000005-0005-b005-0005-000000000005",
      "name": "No Row \u2014 Exit",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        920,
        420
      ],
      "parameters": {}
    },
    {
      "id": "b000006-0006-b006-0006-000000000006",
      "name": "Has Application ID?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        920,
        300
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "cond-has-app-id",
              "leftValue": "={{ $json.application_id ?? '' }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "b000007-0007-b007-0007-000000000007",
      "name": "Fetch Application from Twenty",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1160,
        220
      ],
      "parameters": {
        "method": "POST",
        "url": "http://twenty:3000/graphql",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ 'Bearer ' + $env.TWENTY_API_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { query: 'query GetApplication($filter: ApplicationFilterInput) { application(filter: $filter) { id status score candidate { id name whatsappNumberE164 } jobPosting { id title } } }', variables: { filter: { id: { eq: $('Claim Inbox Row').first()?.json?.application_id ?? '' } } } } }}",
        "options": {
          "timeout": 15000,
          "retry": {
            "enabled": true,
            "maxTries": 2,
            "waitBetweenTries": 2000
          }
        }
      }
    },
    {
      "id": "b000008-0008-b008-0008-000000000008",
      "name": "Set Application Context",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1400,
        220
      ],
      "parameters": {
        "mode": "manual",
        "duplicateItem": false,
        "assignments": {
          "assignments": [
            {
              "id": "app-id",
              "name": "applicationId",
              "value": "={{ $json.data?.application?.id ?? '' }}",
              "type": "string"
            },
            {
              "id": "app-candidate-id",
              "name": "candidateTwentyId",
              "value": "={{ $json.data?.application?.candidate?.id ?? $('Claim Inbox Row').first()?.json?.candidate_id ?? '' }}",
              "type": "string"
            },
            {
              "id": "app-candidate-name",
              "name": "candidateName",
              "value": "={{ $json.data?.application?.candidate?.name ?? '' }}",
              "type": "string"
            },
            {
              "id": "app-candidate-phone",
              "name": "candidatePhone",
              "value": "={{ $json.data?.application?.candidate?.whatsappNumberE164 ?? '' }}",
              "type": "string"
            },
            {
              "id": "app-job-title",
              "name": "jobTitle",
              "value": "={{ $json.data?.application?.jobPosting?.title ?? '' }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "b000009-0009-b009-0009-000000000009",
      "name": "Set Context \u2014 No Application",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1160,
        380
      ],
      "parameters": {
        "mode": "manual",
        "duplicateItem": false,
        "assignments": {
          "assignments": [
            {
              "id": "no-app-id",
              "name": "applicationId",
              "value": "",
              "type": "string"
            },
            {
              "id": "no-app-candidate-id",
              "name": "candidateTwentyId",
              "value": "={{ $('Claim Inbox Row').first()?.json?.candidate_id ?? '' }}",
              "type": "string"
            },
            {
              "id": "no-app-name",
              "name": "candidateName",
              "value": "",
              "type": "string"
            },
            {
              "id": "no-app-phone",
              "name": "candidatePhone",
              "value": "",
              "type": "string"
            },
            {
              "id": "no-app-job",
              "name": "jobTitle",
              "value": "",
              "type": "string"
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "b000010-0010-b010-0010-000000000010",
      "name": "Fetch Candidate Facts",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1640,
        300
      ],
      "credentials": {
        "postgres": {
          "id": "9qvzHACQwY5XcPoG",
          "name": "Bookings DB (n8n_bookings)"
        }
      },
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT facts FROM candidate_facts WHERE twenty_candidate_id = $1",
        "options": {
          "queryReplacement": "={{ [$('Claim Inbox Row').first()?.json?.candidate_id ?? ''] }}"
        }
      }
    },
    {
      "id": "b000011-0011-b011-0011-000000000011",
      "name": "Has CV Text?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1880,
        300
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "cond-has-cv",
              "leftValue": "={{ ($json.facts?.cv_text ?? '') }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "b000012-0012-b012-0012-000000000012",
      "name": "No CV \u2014 Create Parse Failure Task",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2120,
        420
      ],
      "parameters": {
        "method": "POST",
        "url": "http://twenty:3000/graphql",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ 'Bearer ' + $env.TWENTY_API_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { query: 'mutation CreateReviewTask($data: ReviewTaskCreateInput!) { createReviewTask(data: $data) { id } }', variables: { data: { kind: 'PARSE_FAILURE', status: 'PENDING_REVIEW', notes: 'No CV text found in candidate_facts for candidate ' + ($('Claim Inbox Row').first()?.json?.candidate_id ?? 'unknown') + '. Binary attachment support requires Workflow B v2 (ADR-0010 Option B).', subjectApplication: ($('Claim Inbox Row').first()?.json?.application_id ? { connect: { where: { id: $('Claim Inbox Row').first()?.json?.application_id } } } : undefined) } } } }}",
        "options": {
          "timeout": 15000,
          "retry": {
            "enabled": true,
            "maxTries": 2,
            "waitBetweenTries": 2000
          }
        }
      }
    },
    {
      "id": "b000013-0013-b013-0013-000000000013",
      "name": "Mark Processed \u2014 Parse Failure",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        2360,
        420
      ],
      "credentials": {
        "postgres": {
          "id": "9qvzHACQwY5XcPoG",
          "name": "Bookings DB (n8n_bookings)"
        }
      },
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE screening_inbox SET processed_at = NOW(), error_message = 'parse_failure: no cv_text in candidate_facts' WHERE id = $1",
        "options": {
          "queryReplacement": "={{ [$('Claim Inbox Row').first()?.json?.id] }}"
        }
      }
    },
    {
      "id": "b000014-0014-b014-0014-000000000014",
      "name": "Prepare CV Text",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2120,
        300
      ],
      "parameters": {
        "mode": "manual",
        "duplicateItem": false,
        "assignments": {
          "assignments": [
            {
              "id": "cv-text",
              "name": "cvText",
              "value": "={{ $json.facts?.cv_text ?? '' }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "b000015-0015-b015-0015-000000000015",
      "name": "Extract Structured Facts \u2014 Claude Sonnet",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        2360,
        300
      ],
      "parameters": {
        "source": "database",
        "workflowId": {
          "__rl": true,
          "value": "aaX1BK1N0yFZ8ydt",
          "mode": "id"
        },
        "options": {},
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "model": "claude-sonnet-4-6",
            "workflowName": "workflow_b_screening",
            "maxTokens": 1000,
            "systemPrompt": "You are a CV screening assistant for a Ghanaian HR firm. Extract structured facts from the CV text provided. Return ONLY valid JSON with exactly these keys: years_experience (number, 0 if unknown), current_role (string), education (string, highest qualification), top_skills (array of strings, max 8 items). No other text, no markdown, no explanation.",
            "messages": "={{ JSON.stringify([{ role: 'user', content: 'Please extract structured facts from this CV:\\n\\n' + ($json.cvText ?? '') }]) }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "model",
              "displayName": "model",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "workflowName",
              "displayName": "workflowName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "maxTokens",
              "displayName": "maxTokens",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "systemPrompt",
              "displayName": "systemPrompt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "messages",
              "displayName": "messages",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      }
    },
    {
      "id": "b000016-0016-b016-0016-000000000016",
      "name": "Parse Fact Extraction Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2600,
        300
      ],
      "parameters": {
        "language": "javaScript",
        "jsCode": "const content = $('Extract Structured Facts \u2014 Claude Sonnet').first()?.json?.content ?? '';\nlet facts = {};\ntry {\n  const match = content.match(/\\{[\\s\\S]*\\}/);\n  facts = match ? JSON.parse(match[0]) : {};\n} catch(e) {\n  facts = {};\n}\nconst cvText = $('Prepare CV Text').first()?.json?.cvText ?? '';\nreturn [{ json: { extractedFacts: facts, cvText } }];"
      }
    },
    {
      "id": "b000017-0017-b017-0017-000000000017",
      "name": "Store Extracted Facts",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        2840,
        300
      ],
      "credentials": {
        "postgres": {
          "id": "9qvzHACQwY5XcPoG",
          "name": "Bookings DB (n8n_bookings)"
        }
      },
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO candidate_facts (twenty_candidate_id, facts) VALUES ($1, $2::jsonb) ON CONFLICT (twenty_candidate_id) DO UPDATE SET facts = candidate_facts.facts || $2::jsonb, updated_at = NOW()",
        "options": {
          "queryReplacement": "={{ [$('Claim Inbox Row').first()?.json?.candidate_id ?? '', JSON.stringify({ extracted_facts: $json.extractedFacts ?? {} })] }}"
        }
      }
    },
    {
      "id": "b000018-0018-b018-0018-000000000018",
      "name": "Score Against Rubric \u2014 Claude Sonnet",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        3080,
        300
      ],
      "parameters": {
        "source": "database",
        "workflowId": {
          "__rl": true,
          "value": "aaX1BK1N0yFZ8ydt",
          "mode": "id"
        },
        "options": {},
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "model": "claude-sonnet-4-6",
            "workflowName": "workflow_b_screening",
            "maxTokens": 1000,
            "systemPrompt": "You are a CV scoring assistant for a Ghanaian HR firm. Score this candidate's CV against the job requirements. Return ONLY valid JSON with exactly these keys: score (integer 0-100), tier (string, one of: STRONG, BORDERLINE, WEAK), rationale (string, max 200 chars, must cite evidence from the CV), breakdown (object with keys: skills (integer 0-100), experience (integer 0-100), education (integer 0-100)). No other text, no markdown.",
            "messages": "={{ JSON.stringify([{ role: 'user', content: 'Job title: ' + ($('Set Application Context').first()?.json?.jobTitle ?? $('Set Context \u2014 No Application').first()?.json?.jobTitle ?? 'General position') + '\\n\\nCandidate facts:\\n' + JSON.stringify($('Parse Fact Extraction Response').first()?.json?.extractedFacts ?? {}) + '\\n\\nCV text (first 2000 chars):\\n' + ($('Parse Fact Extraction Response').first()?.json?.cvText ?? '').slice(0, 2000) }]) }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "model",
              "displayName": "model",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "workflowName",
              "displayName": "workflowName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "maxTokens",
              "displayName": "maxTokens",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "systemPrompt",
              "displayName": "systemPrompt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "messages",
              "displayName": "messages",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      }
    },
    {
      "id": "b000019-0019-b019-0019-000000000019",
      "name": "Parse Score Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3320,
        300
      ],
      "parameters": {
        "language": "javaScript",
        "jsCode": "const content = $('Score Against Rubric \u2014 Claude Sonnet').first()?.json?.content ?? '';\nlet scoreData = { score: 0, tier: 'WEAK', rationale: 'Score parse failed', breakdown: { skills: 0, experience: 0, education: 0 } };\ntry {\n  const match = content.match(/\\{[\\s\\S]*\\}/);\n  if (match) {\n    const parsed = JSON.parse(match[0]);\n    scoreData = {\n      score: Number(parsed.score ?? 0),\n      tier: ['STRONG','BORDERLINE','WEAK'].includes(parsed.tier) ? parsed.tier : 'WEAK',\n      rationale: String(parsed.rationale ?? '').slice(0, 200),\n      breakdown: {\n        skills: Number(parsed.breakdown?.skills ?? 0),\n        experience: Number(parsed.breakdown?.experience ?? 0),\n        education: Number(parsed.breakdown?.education ?? 0)\n      }\n    };\n  }\n} catch(e) {\n  scoreData.rationale = 'Parse error: ' + String(e.message).slice(0, 100);\n}\nreturn [{ json: scoreData }];"
      }
    },
    {
      "id": "b000020-0020-b020-0020-000000000020",
      "name": "Store Score",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        3560,
        300
      ],
      "credentials": {
        "postgres": {
          "id": "9qvzHACQwY5XcPoG",
          "name": "Bookings DB (n8n_bookings)"
        }
      },
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO candidate_facts (twenty_candidate_id, facts) VALUES ($1, $2::jsonb) ON CONFLICT (twenty_candidate_id) DO UPDATE SET facts = candidate_facts.facts || $2::jsonb, updated_at = NOW()",
        "options": {
          "queryReplacement": "={{ [$('Claim Inbox Row').first()?.json?.candidate_id ?? '', JSON.stringify({ score: $json.score, score_tier: $json.tier, score_rationale: $json.rationale, score_breakdown: JSON.stringify($json.breakdown ?? {}) })] }}"
        }
      }
    },
    {
      "id": "b000021-0021-b021-0021-000000000021",
      "name": "Update Application in Twenty",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3800,
        300
      ],
      "parameters": {
        "method": "POST",
        "url": "http://twenty:3000/graphql",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ 'Bearer ' + $env.TWENTY_API_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { query: 'mutation UpdateApplication($id: ID!, $data: ApplicationUpdateInput!) { updateApplication(id: $id, data: $data) { id status score updatedAt } }', variables: { id: $('Set Application Context').first()?.json?.applicationId ?? $('Set Context \u2014 No Application').first()?.json?.applicationId ?? '', data: { status: $('Parse Score Response').first()?.json?.tier === 'STRONG' ? 'SHORTLISTED' : 'SCREENED', score: $('Parse Score Response').first()?.json?.score ?? 0 } } } }}",
        "options": {
          "timeout": 15000,
          "retry": {
            "enabled": true,
            "maxTries": 2,
            "waitBetweenTries": 2000
          }
        }
      }
    },
    {
      "id": "b000021if-0021-b021-0021-000000000021",
      "name": "Has Application ID \u2014 Skip Update?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        3620,
        200
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "cond-has-app-for-update",
              "leftValue": "={{ ($('Set Application Context').first()?.json?.applicationId ?? $('Set Context \u2014 No Application').first()?.json?.applicationId ?? '') }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "b000022-0022-b022-0022-000000000022",
      "name": "Needs Human Review?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        4040,
        300
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "combinator": "or",
          "conditions": [
            {
              "id": "cond-borderline",
              "leftValue": "={{ $('Parse Score Response').first()?.json?.tier ?? '' }}",
              "rightValue": "BORDERLINE",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "cond-weak",
              "leftValue": "={{ $('Parse Score Response').first()?.json?.tier ?? '' }}",
              "rightValue": "WEAK",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "cond-calibration",
              "leftValue": "={{ $env.WORKFLOW_B_LAUNCH_DATE ? (new Date() < new Date(new Date($env.WORKFLOW_B_LAUNCH_DATE).getTime() + 14*24*60*60*1000)) : true }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equal"
              }
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "b000023-0023-b023-0023-000000000023",
      "name": "Create Review Task",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4280,
        220
      ],
      "parameters": {
        "method": "POST",
        "url": "http://twenty:3000/graphql",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ 'Bearer ' + $env.TWENTY_API_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { query: 'mutation CreateReviewTask($data: ReviewTaskCreateInput!) { createReviewTask(data: $data) { id } }', variables: { data: { kind: 'LOW_CONFIDENCE_SCORE', status: 'PENDING_REVIEW', notes: 'Score: ' + ($('Parse Score Response').first()?.json?.score ?? 0) + '/100 (' + ($('Parse Score Response').first()?.json?.tier ?? '') + '). ' + ($('Parse Score Response').first()?.json?.rationale ?? ''), subjectApplication: ($('Set Application Context').first()?.json?.applicationId ?? $('Set Context \u2014 No Application').first()?.json?.applicationId) ? { connect: { where: { id: $('Set Application Context').first()?.json?.applicationId ?? $('Set Context \u2014 No Application').first()?.json?.applicationId } } } : undefined } } } }}",
        "options": {
          "timeout": 15000,
          "retry": {
            "enabled": true,
            "maxTries": 2,
            "waitBetweenTries": 2000
          }
        }
      }
    },
    {
      "id": "b000024-0024-b024-0024-000000000024",
      "name": "Send WA Ack",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        4520,
        300
      ],
      "parameters": {
        "source": "database",
        "workflowId": {
          "__rl": true,
          "value": "dP5m6qFzglkytQ6I",
          "mode": "id"
        },
        "options": {},
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "to": "={{ $('Set Application Context').first()?.json?.candidatePhone ?? $('Set Context \u2014 No Application').first()?.json?.candidatePhone ?? '' }}",
            "body": "={{ 'Hi ' + ($('Set Application Context').first()?.json?.candidateName ?? $('Set Context \u2014 No Application').first()?.json?.candidateName ?? 'there') + ', thank you for submitting your CV. Our team will review it and get back to you shortly.' }}",
            "conversationId": ""
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "to",
              "displayName": "to",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "body",
              "displayName": "body",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "conversationId",
              "displayName": "conversationId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      }
    },
    {
      "id": "b000025-0025-b025-0025-000000000025",
      "name": "Mark Inbox Processed",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        4760,
        300
      ],
      "credentials": {
        "postgres": {
          "id": "9qvzHACQwY5XcPoG",
          "name": "Bookings DB (n8n_bookings)"
        }
      },
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE screening_inbox SET processed_at = NOW() WHERE id = $1",
        "options": {
          "queryReplacement": "={{ [$('Claim Inbox Row').first()?.json?.id] }}"
        }
      }
    },
    {
      "id": "b000026-0026-b026-0026-000000000026",
      "name": "Log Screening Error",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        440,
        520
      ],
      "credentials": {
        "postgres": {
          "id": "9qvzHACQwY5XcPoG",
          "name": "Bookings DB (n8n_bookings)"
        }
      },
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO workflow_errors (workflow_name, execution_id, node_name, error_message, error_stack, input_payload) VALUES ($1, $2, $3, $4, $5, $6)",
        "options": {
          "queryReplacement": "={{ ['workflow_b_screening', $json.execution?.id ?? '', ($json.node?.name ?? String($json.node ?? '')), ($json.error?.message ?? String($json.error ?? 'unknown error')), ($json.error?.stack?.split('\\n')[0] ?? ''), '{}'] }}"
        }
      }
    },
    {
      "id": "b000027-0027-b027-0027-000000000027",
      "name": "Release Claim on Error",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        680,
        520
      ],
      "credentials": {
        "postgres": {
          "id": "9qvzHACQwY5XcPoG",
          "name": "Bookings DB (n8n_bookings)"
        }
      },
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE screening_inbox SET claimed_at = NULL, claimed_by = NULL, error_message = $2 WHERE claimed_by = $1 AND processed_at IS NULL",
        "options": {
          "queryReplacement": "={{ [$json.execution?.id ?? '', ($json.error?.message ?? 'unknown error').slice(0, 500)] }}"
        }
      }
    }
  ],
  "connections": {
    "Cron \u2014 Poll Screening Inbox": {
      "main": [
        [
          {
            "node": "Claim Inbox Row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Claim Inbox Row": {
      "main": [
        [
          {
            "node": "Row Claimed?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Row Claimed?": {
      "main": [
        [
          {
            "node": "Has Application ID?",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Row \u2014 Exit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Application ID?": {
      "main": [
        [
          {
            "node": "Fetch Application from Twenty",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set Context \u2014 No Application",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Application from Twenty": {
      "main": [
        [
          {
            "node": "Set Application Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Application Context": {
      "main": [
        [
          {
            "node": "Fetch Candidate Facts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Context \u2014 No Application": {
      "main": [
        [
          {
            "node": "Fetch Candidate Facts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Candidate Facts": {
      "main": [
        [
          {
            "node": "Has CV Text?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has CV Text?": {
      "main": [
        [
          {
            "node": "Prepare CV Text",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No CV \u2014 Create Parse Failure Task",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "No CV \u2014 Create Parse Failure Task": {
      "main": [
        [
          {
            "node": "Mark Processed \u2014 Parse Failure",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare CV Text": {
      "main": [
        [
          {
            "node": "Extract Structured Facts \u2014 Claude Sonnet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Structured Facts \u2014 Claude Sonnet": {
      "main": [
        [
          {
            "node": "Parse Fact Extraction Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Fact Extraction Response": {
      "main": [
        [
          {
            "node": "Store Extracted Facts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Store Extracted Facts": {
      "main": [
        [
          {
            "node": "Score Against Rubric \u2014 Claude Sonnet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Score Against Rubric \u2014 Claude Sonnet": {
      "main": [
        [
          {
            "node": "Parse Score Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Score Response": {
      "main": [
        [
          {
            "node": "Store Score",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Store Score": {
      "main": [
        [
          {
            "node": "Has Application ID \u2014 Skip Update?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Application ID \u2014 Skip Update?": {
      "main": [
        [
          {
            "node": "Update Application in Twenty",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Needs Human Review?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Application in Twenty": {
      "main": [
        [
          {
            "node": "Needs Human Review?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Needs Human Review?": {
      "main": [
        [
          {
            "node": "Create Review Task",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send WA Ack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Review Task": {
      "main": [
        [
          {
            "node": "Send WA Ack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send WA Ack": {
      "main": [
        [
          {
            "node": "Mark Inbox Processed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Error Trigger": {
      "main": [
        [
          {
            "node": "Log Screening Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Screening Error": {
      "main": [
        [
          {
            "node": "Release Claim on Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "tags": [
    {
      "name": "hr-automation"
    },
    {
      "name": "workflow-b"
    },
    {
      "name": "version-1.0"
    }
  ],
  "pinData": {},
  "meta": {}
}